<div class="container-fluid">
  <div class="row pt-5 pt-md-0">

    <div class="col-12 px-0">
      <div class="portfolio-item mb-5 pb-5">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/gallery/galeria.png" class="img-fluid border-radius-0" alt="Banner">
            <span class="left-thumb-info-title">
              <span class="thumb-info-inner">Galeria</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="col-12 col-md-10 mx-md-auto mb-5 py-5 px-5 mt-md-5">
      <h2 class="title text-center text-md-left text-9 py-5 mb-0">Escola Básica Virgínia Moura</h2>

      <div class="container-fluid py-2">
        <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
          <li class="d-none nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
        </ul>
        <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
          <div class="row portfolio-list sort-destination lightbox" data-sort-id="portfolio" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">

            <div class="col-12 col-md-6 col-lg-4 isotope-item">
              <div class="portfolio-item">
                <a href="{{url_base}}/assets/img/gallery/aula_conde_pormenor.png" class="lightbox-portfolio">
                  <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/gallery/aula_conde.png" class="img-fluid border-radius-0" alt="EB Virgínia Moura"/>
                      <span class="thumb-info-action"></span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 isotope-item">
              <div class="portfolio-item">
                <a href="{{url_base}}/assets/img/gallery/carreiro_lordelo_pormenor.png" class="lightbox-portfolio">
                  <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/gallery/carreiro_lordelo.png" class="img-fluid border-radius-0" alt="Escola Básica Virgínia Moura"/>
                      <span class="thumb-info-action"></span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 isotope-item">
              <div class="portfolio-item">
                <a href="{{url_base}}/assets/img/gallery/eb_virginia_moura_pormenor.png" class="lightbox-portfolio">
                  <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/gallery/eb_virginia_moura.png" class="img-fluid border-radius-0" alt="Escola Básica Virgínia Moura"/>
                      <span class="thumb-info-action"></span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 isotope-item">
              <div class="portfolio-item">
                <a href="{{url_base}}/assets/img/gallery/guardizela_pormenor.png" class="lightbox-portfolio">
                  <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/gallery/guardizela.png" class="img-fluid border-radius-0" alt="Escola Básica Virgínia Moura"/>
                      <span class="thumb-info-action"></span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 isotope-item">
              <div class="portfolio-item">
                <a href="{{url_base}}/assets/img/gallery/vermis_pormenor.png" class="lightbox-portfolio">
                  <span class="thumb-info thumb-info-lighten thumb-info-no-borders thumb-info-bottom-info thumb-info-centered-icons border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/gallery/vermis.png" class="img-fluid border-radius-0" alt="Escola Básica Virgínia Moura"/>
                      <span class="thumb-info-action"></span>
                    </span>
                  </span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
