<div class="container-fluid">
  <div class="row pt-5 pt-md-0">

    <div class="col-12 px-0">
      <div class="portfolio-item mb-5 pb-5">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/contactos.png" class="img-fluid border-radius-0" alt="Banner">
            <span class="left-thumb-info-title">
              <span class="thumb-info-inner">Contactos</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="col-12 col-md-4 bg-blue">
      <h2 class="title text-center text-white text-9 py-5 mb-0">Contacte-nos!</h2>
      <ul class="list list-icons list-light text-white mt-2">
        <li class="list-image"><img class="img-fluid pt-1 pr-3 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/localizacao.svg" alt="Morada"/> Avenida 1º de Agosto <br/>Moreira de Cónegos, Braga <br/>4815-254 Moreira de Cónegos, Portugal</li>
        <li class="list-image"><img class="img-fluid pt-1 pr-3 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/telemovel.svg" alt="Telemóvel"/> +351 253 560 160</li>
        <li class="list-image"><img class="img-fluid pt-1 pr-3 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/mail.svg" alt="E-mail"/> secretaria@aevm.edu.pt</li>
      </ul>
    </div>

    <div class="col-12 col-md-8">
      <h2 class="text-uppercase text-8 mt-2 mb-0">Responderemos o mais brevemente possível</h2>
      <form class="contact-form" action="php/contact-form.php" method="POST" novalidate="novalidate" name="form-contact">
        <div class="contact-form-success alert alert-success d-none mt-4">
          <strong>Success!</strong> Your message has been sent to us.
        </div>
        <div class="contact-form-error alert alert-danger d-none mt-4">
          <strong>Error!</strong> There was an error sending your message.
          <span class="mail-error-message text-1 d-block"></span>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label class="mb-1 text-2">Nome</label>
            <input type="text" value="" data-msg-required="Por favor insira o seu nome." maxlength="100" class="form-control text-3 h-auto py-2" name="name" required="">
          </div>
          <div class="form-group col-lg-6">
            <label class="mb-1 text-2">E-mail</label>
            <input type="email" value="" data-msg-required="Por favor insira o seu e-mail." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control text-3 h-auto py-2" name="email" required="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="mb-1 text-2">Assunto</label>
            <input type="text" value="" data-msg-required="Por favor insira o assunto." maxlength="100" class="form-control text-3 h-auto py-2" name="subject" required="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="mb-1 text-2">Mensagem</label>
            <textarea maxlength="5000" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control text-3 h-auto py-2" name="message" required=""></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-lg-6">
            <input type="checkbox" id="checkbox" name="checkbox" class="checkbox"/>
            <label for="checkbox" class="float-left text-1 text-lg-2 ">Eu aceito as condições da política de privacidade.</label><br/>
          </div>
          <div class="form-group col-12 col-lg-6">
            <p class="float-right text-white text-uppercase text-4"><u><input class="pr-0" type="submit" name="Submit" value="Enviar"/></u></p>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
