<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/creative_classroom.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Creative classrom lab</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5 mt-lg-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5">

              <p>Inspirados no Future Classroom Lab da European Schoolnet e nos Ambientes Educativos Inovadores da Direção Geral da Educação decidimos avançar com um dos maiores desafios que enfrentamos até hoje: criar um espaço de trabalho onde
                alunos e professores possam ir mais além e encontrar respostas para o desenvolvimento de cenários de aprendizagem do Séc. XXI: uma sala de trabalho personalizado – Sala de Aprendizagens inovadoras – onde o centro de toda a atividade é
                o aluno em interação com outros alunos e professores.</p>

              <p> Desenvolver robots e jogos de computador e adaptar o ensino ao perfil de cada aluno. Estes são alguns dos traços que distinguem os professores que estão entre os mais inovadores.</p>

              <p>Queremo-nos destacar pela forma como introduzir as mais recentes tecnologias em contexto de sala de aula para promover práticas pedagógicas inovadoras e alinhadas com as competências do século XXI,“utilizam a tecnologia para apoiar
                os alunos e dar-lhes competências”. Este espaço “além-fronteiras” representa “um orgulho enorme” para todos.</p>

              <p>Em termos de inovação, destacamos os trabalhos com robótica, as aulas com, a utilização do e-mail por toda a comunidade escolar (todos os alunos têm uma conta de correio eletrónico institucionalizada) e a partilha de documentos e
                trabalhos na cloud o agrupamento de escolas pensa que estes equipamentos vão dar acesso a “ações de formação e a tecnologias e a peritos em tecnologia” que podem apoiar outros projetos de inovação. Um dos objetivos passa por dar a
                cada aluno pelo menos um dispositivo tecnológico, como um computador ou um tablet, para que todos possam aceder em qualquer momento e em qualquer lugar à “informação, aos recursos e às partilhas com os professores”.</p>

              <p>Para além de melhorar a comunicação, esta sala permitiu desmaterializar processos administrativos e pedagógicos promovendo a partilha entre professores nas suas práticas pedagógicas. Para o agrupamento, a flexibilidade de um ensino
                integrado com atividades de enriquecimento, com práticas colaborativas, ativas e inovadoras é, de facto, promotor de autonomia num mundo globalmente exigente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
