<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/desporto_escolar.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Desporto Escolar</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-5 pt-lg-3">Visão</h2>
            <p>Todos os alunos do sistema educativo praticam regularmente atividades físicas e desportivas.</p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Missão</h2>
            <p>Estimular a prática da atividade física e da formação desportiva como meio de promoção do sucesso dos alunos, de estilos de vida saudáveis, de valores e princípios associados a uma cidadania ativa.</p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Valores</h2>
            <p>A atividade desportiva desenvolvida ao nível do Desporto Escolar põe em jogo potencialidades físicas e psicológicas, que contribuem para o desenvolvimento global dos jovens, sendo um espaço privilegiado para fomentar hábitos saudáveis,
              competências sociais e valores morais, de entre os quais se destacam: responsabilidade; espírito de equipa; disciplina; tolerância; perseverança; humanismo; verdade; respeito; solidariedade; dedicação e coragem.</p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Enquadramento</h2>
            <p>O Programa do Desporto Escolar é o maior projeto plurianual educativo nacional. O Programa do Desporto Escolar 2017/2021 define as orientações para a realização dos Projetos que visam contribuir para a melhoria da literacia física dos
              alunos, de acordo com as recomendações da Organização Mundial de Saúde e da Resolução da Assembleia da República n.º 94/2013 (relativa à promoção do Desporto Escolar e da prática desportiva pelos jovens).</p>
            <p> O Desporto Escolar baseia-se num sistema universal e aberto de modalidades e de práticas desportivas, organizadas de modo a integrar harmoniosamente as suas dimensões próprias, designadamente o ensino, o treino, a recreação e a
              competição. Modalidades Atividades Rítmicas e Expressivas (vários escalões/misto) Futsal Iniciados Masculino Futsal Infantis B Masculino
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Modalidades</h2>
            <p>Actividades Rítmicas e Expressivas (vários escalões/misto) <br>
              Futsal Iniciados Masculino <br>
              Futsal Infantis B Masculino <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
