<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/eco_escolas.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Eco-Escolas</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5">


              <p class="mt-5 pt-5">O programa Eco-Escolas é um projeto transversal, multidisciplinar que trabalha em articulação com as diversas áreas curriculares/estruturas da escola e comunidade.</p>

              <p>O programa Eco-Escolas em articulação com os diversos departamentos disciplinares, clubes e com o Programa Pegadas do município de Guimarães, proporciona aos nossos alunos experiências diversificadas potenciadoras do desenvolvimento
                de competências, de conhecimentos sobre o ambiente, desenvolvimento sustentável e cidadania.</p>

              <p>O programa Eco-Escolas dinamiza diversas atividades na Escola Básica Virgínia Moura:</p>

              <p>
                - Recolha de Óleo Alimentar Usado; <br>
                - “Geração Depositrão” recolha de pilhas; <br>
                - Separação/reutilização de desperdícios; <br>
                - Compostagem na escola; <br>
                - Manutenção da horta pedagógica/estufa; <br>
                - “Cozinha Pedagógica” em articulação com o programa de Educação para a Saúde; <br>
                - Participação no Eco Parlamento, <br>
                - Participação nos concursos “O Mar começa aqui” e Eco código. <br>
              </p>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
