<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/educacao_artistica.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Programa de educação artística</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">

            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-md-5 pt-lg-4">Programa nacional da educação estética e artística</h2>
            <p> O Programa Educação Estética e Artística (PEEA) em contexto escolar é uma iniciativa do Ministério da Educação e Ciência que pretende:</p>

            <p>-Desenvolver um plano de intervenção no domínio das diferentes formas de arte – Educação e Expressão Plástica, Educação e Expressão Musical, Movimento e Drama/ Teatro e Dança; <br>
              - Reforçar a parceria entre os agrupamentos de escolas e/ou escolas não agrupadas e as instituições culturais; - Envolver crianças, docentes e famílias para desenvolver o gosto pelas diferentes formas artísticas; <br>
              - Valorizar a arte como uma forma de conhecimento.</p>

            <p> Para a sua concretização, enumeram-se as seguintes finalidades e pressupostos:</p>

            <p class="text-uppercase axiforma-bold text-2">Finalidades do Programa</p>

            <p>- Desenvolver ações conjuntas e mutuamente enriquecedoras entre Escola e Instituições Culturais, antecipando a cultura como uma necessidade no processo educativo. <br>
              - Incentivar a dimensão estética da educação através da apropriação da linguagem das várias formas de arte. <br>
              - Implementar estratégias, interativas e participantes, cujas ações assegurem a articulação curricular e integrem a dinâmica de diversas linguagens. <br>
              - Sensibilizar os docentes e as famílias para o papel da arte na formação das crianças e para a sua relação com outras áreas do saber. <br>
              - Estimular o conhecimento do património cultural e artístico como processo de afirmação da cidadania e um meio de desenvolver a literacia cultural.</p>

            <p class="text-uppercase axiforma-bold text-2">Pressupostos do Programa</p>

            <p>- Abranger progressivamente todos os níveis de ensino, dando prioridade, nesta primeira fase, à Educação Pré-Escolar e ao 1.º Ciclo do Ensino Básico; <br>
              - Desenvolver os conhecimentos e capacidades nas área expressões artísticas, através da formação dos profissionais de educação, em contexto de trabalho; <br>
              - Ser uma ação faseada no tempo e nos contextos a abranger;
              - Fomentar o trabalho sistemático entre as várias instituições culturais, instituições do Ensino Superior, articulando as diferentes sinergias; <br>
              - Incentivar dispositivos de avaliação das práticas desenvolvidas em contexto escolar.</p>

            <img src="{{url_base}}/assets/img/logos/educacao_artistica.svg" alt="" class="img-fluid">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
