<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/programa_apoio_saude.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Programa de apoio à promoção e educação para a saúde</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-lg-9 pl-xl-5 px-5">

              <p>#EducarParaSaúde</p>

              <p>A promoção da Educação para a Saúde é um projeto transversal, multidisciplinar e trabalha em articulação com as diversas áreas curriculares/ estruturas da escola e comunidade. As atividades desenvolvidas implementam diferentes
                metodologias/ estratégias, envolvendo, sempre que possível, os alunos e a comunidade educativa, articulando com as diferentes áreas curriculares e outros projetos do Agrupamento e com outras instituições/ comunidade em geral.
              </p>


              <p>As atividades são planificadas de modo a proporcionar aos alunos experiências diversificadas potênciadoras do desenvolvimento de competências e aprofundamento de conhecimentos ao nível da Saúde, nomeadamente: Saúde Mental e Prevenção
                da Violência; Educação Alimentar; Atividade Física; Comportamentos Aditivos e Dependências; Afetos e Educação para a Sexualidade, dotando-os de conhecimentos, atitudes e valores que os ajudem a fazer opções e a tomar decisões
                adequadas à sua saúde e ao seu bem-estar físico, social e mental, bem como a saúde dos que os rodeiam, conferindo-lhes assim um papel interventivo.</p>


            </div>

            <div class="col-lg-3">
              <div class="row">
                <div class="col-12">
                  Imagem
                </div>
                <div class="col-12">
                  Imagem
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
