<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/e-twinning.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">E-Twinning</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5">
              <p class="mt-5 pt-5">
                O eTwinning é a maior comunidade de professores da Europa, mas abrange, também, países africanos e do Médio Oriente, como a Tunísia ou a Jordânia. Atualmente, conta com mais de 800 mil professores inscritos, de cerca de 200 mil
                escolas, e estão a ser desenvolvidos 109 mil projetos.
              </p>

              <p>O principal objetivo deste projeto é partilhar boas práticas de ensino, tendo por base uma atitude colaborativa, de entreajuda e de comunicação constantes entre professores e alunos de várias nacionalidades. Portanto, é um projeto
                cultural e didaticamente enriquecedor e que a nossa escola abraçou com entusiasmo, pelo que fomos reconhecidos com o selo de Escola eTwinning por sermos uma escola que se destaca pelas práticas digitais e de eSafety, assim como pelas
                abordagens pedagógicas inovadoras e criativas, sem esquecer a promoção do desenvolvimento profissional contínuo dos professores e de práticas de aprendizagem colaborativas entre os professores e os alunos.
              </p>
            </div>

            <div class="col-12 pl-xl-5 pr-0">
              <img src="{{url_base}}/assets/img/about/sobre_4.png" alt="" class="img-fluid">
            </div>

            <!-- FALTA VIDEO (IMAGEM CIMA) E ICONS  -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
