<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/fundo_asilo.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Fundo para o Asilo, a Migração e a Integração</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5 mt-5 pt-5">
              <p class="mt-5 pt-5">
                O Agrupamento de Escolas Virgínia Moura, está a desenvolver o Projeto «O Mundo à Nossa Porta» entre janeiro de 2020 e dezembro de 2021, financiado pelo FAMI
              </p>
              <p>
                O Fundo para o Asilo, a Migração e a Integração (FAMI), é um instrumento financeiro que visa promover a gestão eficaz dos fluxos migratórios e a implementação, fortalecimento e desenvolvimento de uma abordagem comum na União Europeia
                relativamente ao asilo, à imigração e à integração. O público-alvo são nacionais de países terceiros que residem legalmente no território nacional.
              </p>
              <p>
                Algumas das ações previstas no âmbito deste projeto são:
              </p>
              <p>
                a) Desenvolvimento de iniciativas de sensibilização, esclarecimento e/ou capacitação de pessoal docente e não docente e/ou outros elementos da comunidade educativa com papel ativo no acolhimento e integração dos NPT em contexto
                escolar.
                <br>
                b) Criação,
                reprodução, tradução ou disseminação de recursos pedagógicos, instrumentos de apoio, materiais de informação/sensibilização em diferentes suportes e línguas, etc
                <br>
                c) Desenvolvimento de parcerias locais entre diferentes intervenientes que
                possam apoiar as escolas na integração dos alunos NPT quer no contexto educativo quer fora dele (familiares dos alunos, poder local, serviços sociais, serviços de saúde, sector empresarial, associações,…).
                <br>
                d) Realização de visitas à
                cidade de Guimarães/região envolvente da cidade permitindo um melhor conhecimento da região que habitam e ainda outras atividades que proporcionem o convívio e a partilha favorecendo uma melhor integração de alunos/as NPT e seus
                familiares.
              </p>

              <div class="row mt-5 mb-5 mb-lg-0">
                <div class="col-12">
                  <img src="{{url_base}}/assets/img/logos/fundo_asilo.svg" alt="" class="img-fluid">
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
