<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/finlandia.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Erasmus</span>
            </span>
          </span>
        </span>
      </div>

      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-3 mt-md-5 pt-lg-3">KA101</h2>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">LOHJA (FINLÂNDIA) <img src="{{url_base}}/assets/img/icons/finland.svg" alt="" class="img-fluid ml-2"></h2>

            <p class="my-3">Job Shadowing</p>

            <p>
              No âmbito do projeto Erasmus+ KA101 “Conhecer para Aprender com a Europa”, a Diretora do Agrupamento, o Diretor Adjunto e a Coordenadora do Projeto, participaram numa atividade de Job Shadowing em Lohja, na Finlândia, entre os dias 23 e
              26 de abril de 2019.
              <br>
              Os três docentes foram acolhidos num clima de grande hospitalidade e simpatia. De acordo com o programa definido pela escola de acolhimento (Muijala School), realizaram-se reuniões de trabalho na escola anfitriã, assistiram a aulas de
              diferentes áreas disciplinares, sendo também responsáveis pela lecionação de algumas aulas.
              <br>
              Durante a atividade, os participantes discutiram diversos métodos e abordagens com vista a um maior sucesso no processo de ensino-aprendizagem. Além disso, tiveram a oportunidade de se familiarizarem com o Sistema Educativo Finlandês e
              com os princípios da Educação Inclusiva na Finlândia.
              <br>
              O caloroso acolhimento, por parte da instituição, tornou toda esta experiência bastante enriquecedora, quer a nível profissional quer a nível pessoal.
            </p>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
