<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/erasmus.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Erasmus</span>
            </span>
          </span>
        </span>
      </div>

      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-3 mt-md-5 pt-lg-3">KA101</h2>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-5 pt-lg-3">"Conhecer para aprender com a europa"</h2>
            <p class="sublink">Projeto nº 2018-1-PT01-KA101-046963</p>

            <p>A decisão de apresentar o projeto “Conhecer para aprender com a Europa”_KA101 à candidatura AC1 – Mobilidade Individual para fins de Aprendizagem (Mobilidade de pessoal educativo do Ensino Escolar) do Programa Erasmus+, assentou na
              necessidade de desenvolvimento de formação para aquisição de competências em áreas chave, identificadas no Projeto Educativo do Agrupamento, Plano de Formação e Plano de Melhoria, para que no próximo quadriénio 2017/2021, num Plano
              Estratégico de Desenvolvimento Europeu para a internalização da escola numa dimensão de partilha global.</p>

            <p>Nesta perspetiva, pretendemos intervir em três áreas chave:</p>

            <p>
              - Competências Chave (TIC Inglês básico); <br>
              - Abandono Escolar Precoce/Combate ao Insucesso Escolar; <br>
              - Melhorar a qualidade da instituição e/ou métodos.
            </p>

            <p> Indo de encontro à concretização das metas estabelecidas no Projeto Educativo relacionadas com o sucesso educativo, o reforço da identidade do Agrupamento, evitar o abandono precoce da escola e valorizar a formação contínua dos
              agentes educativos.</p>

            <p> O Projeto está planificado em três fases:</p>

            <p> 1) Preparação: Ações de preparação linguística/intercultural dos participantes com recursos humanos da escola, realização de encontros/reuniões com os participantes para definir compromissos/objetivos do projeto e organizar/preparar a
              mobilidade. <br>
              2) Mobilidades: <br>
              2.1) Cursos Estruturados <br>
              2.2) Job Shadowing <br>
              3) Disseminação</p>


            <div class="row my-5">
              <div class="col-3 px-1 px-md-2">
                <a href="{{url_base}}/projetos/finlandia">
                <img src="{{url_base}}/assets/img/icons/finlandia.svg" alt="" class="img-fluid">
              </a>
              </div>
              <div class="col-3 px-1 px-md-2">
                <img src="{{url_base}}/assets/img/icons/berlim.svg" alt="" class="img-fluid">
              </div>
              <div class="col-3 px-1 px-md-2">
                <img src="{{url_base}}/assets/img/icons/reino_unido.svg" alt="" class="img-fluid">
              </div>
              <div class="col-3 px-1 px-md-2">
                <img src="{{url_base}}/assets/img/icons/italia.svg" alt="" class="img-fluid">
              </div>
            </div>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-2">Descarregar apresentação final do projeto</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
