<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/erasmus.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Erasmus</span>
            </span>
          </span>
        </span>
      </div>

      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-3 mt-md-5 pt-lg-3">KA229</h2>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-5 pt-lg-3">Goal! games of a lifetime! 2018-2020 <img src="{{url_base}}/assets/img/logos/goal.svg" alt="" class="img-fluid ml-4"></h2>
            <p>
              <span class="text-uppercase axiforma-bold text-2">
                Países participantes
              </span><br>
              França, Espanha, Portugal, Macedónia do Norte, Itália, Roménia
            </p>
            <p>
              Este projeto visa desenvolver as aprendizagens através da introdução e utilização de jogos tradicionais e matemáticos, com o intuito de aumentar a motivação dos alunos em todas as disciplinas.
              <br>
              Neste projeto, os alunos irão desenvolver competências transversais fundamentais tais como o raciocínio, o pensamento lógico a comunicação nas várias línguas , a autonomia e a cooperação entre pares.
              <br>
              Como as práticas letivas são muito diferentes entre os vários países europeus, este projeto é uma plataforma de partilha de experiências para cada professor envolvido.
              <br>
              A partilha de novas ideias, métodos de ensino , atividades e competências digitais são sem duvida uma mais valia neste projeto europeu.
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-5 pt-lg-3">Designed Intervention of Environmentally Collaborative Initiatives (DIECI) 2020-2022</h2>
            <p>
              <span class="text-uppercase axiforma-bold text-2">
                Países participantes
              </span><br>
              Itália, Portugal, Grécia, Polónia e Hungria
            </p>
            <p>
              As escolas parceiras, apesar das diferenças em termos de localização geográfica e do número de
             alunos, compartilham uma formação semelhante e precisam enfrentar os mesmos desafios educacionais. Acreditam que através de uma colaboração europeia baseada na troca de experiências, competências, metodologias inovadoras e boas práticas entre
             professores, alunos e comunidades educativas, podem ser alcançados objectivos comuns. O projeto Erasmus + visa alcançar objetivos com foco no desenvolvimento de novos conhecimentos, habilidades e competências dos alunos relacionados com temas de
             proteção ambiental, mudanças climáticas, comportamentos ecológicos e sustentáveis, socialização, Cidadania Europeia e Língua Inglesa. <br>A partilha de novas ideias, métodos de ensino , atividades e competências digitais são sem duvida uma mais valia
             neste projeto europeu.
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-5 pt-lg-3">Healthier Minds, Smarter Minds! 2018-2020</h2>
            <p>
              <span class="text-uppercase axiforma-bold text-2">
                Países participantes
              </span><br>
              Espanha, Grécia, Portugal, Lituânia, Itália e Suécia
            </p>
            <p>
              Este projecto, surge da necessidade de consciencializar os alunos sobre a importância de adotar estilos de vida
             saudáveis ​​e da prática de desporto na sociedade tecnológica do século XXI. <br>
             O título "Mentes mais saudáveis, mentes mais inteligentes" resulta de alguns estudos de pesquisa que afirmam que se os alunos têm um estilo de vida saudável, eles podem
           aprender melhor e obter melhores resultados. As atividades do projeto envolverão um trabalho colaborativo entre os alunos das escolas parceiras, originando diversos materiais elaborados pelos alunos, como a criação de Apps, sites e diversos produtos
           digitais relacionados com a dieta mediterrânica e o desporto. Como as práticas letivas são muito diferentes entre os vários países europeus, este projeto é uma plataforma de partilha de experiências para cada professor envolvido. <br>
           A partilha de novas ideias, métodos de ensino , atividades e competências digitais são sem duvida uma mais valia neste projeto europeu.
            </p>


            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-5">Ver notícias sobre os projetos</p>
            </a>



          </div>
        </div>
      </div>

    </div>
  </div>
</div>
