<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/programa_billingue.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Programa escolas bilingue</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p class="mt-5 pt-5">
              O Programa Escolas Bilingues (PEBI) foi aprovado pela Dgeste no início do ano letivo anterior e está a decorrer no nosso Agrupamento desde essa altura. Todos os ciclos de ensino estão envolvidos neste programa, nomeadamente as cinco turmas do Ensino Pré-escolar, duas do 2º ano (EB1/JI Vermis e EB1/JI Guardizela), duas do 6º (C e D) e, finalmente, duas do 8º ano (C e D).
            </p>
            <p>
            Com este projeto, pretende-se que algumas das aprendizagens das componentes curriculares seja feita através do Inglês, tendo como finalidade melhorar as oportunidades de aprendizagem dos alunos, proporcionando-lhes os mecanismos necessários para alcançarem um nível elevado de proficiência em língua inglesa. Além disso, procura-se promover boas práticas na didática do Inglês, através de uma abordagem integrada baseada no currículo. Salienta-se que o facto de os alunos aprenderem através da língua inglesa não prejudica a sua aprendizagem das componentes curriculares das diferentes disciplinas envolvidas no projeto.
            </p>
            <p>
              Este programa pressupõe a formação contínua de professores em metodologia bilingue, o que leva a uma inovação pedagógica na planificação e intervenção didáticas, na diversificação de estratégias, atividades e materiais, na organização / gestão da sala de aula e no recurso a metodologias ativas de aprendizagem transferidas para outras áreas curriculares.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
