<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/reei.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Rede de Escolas para a Educação Intercultural</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5 mt-5 pt-5">
              <p class="mt-5 pt-5">
                O Agrupamento de Escolas Virgínia Moura passou também a Integrar o Programa REEI. Este programa, Rede de Escolas para a Educação Intercultural é uma iniciativa conjunta do Alto Comissariado Para as Migrações. A rede tem como finalidade promover o acolhimento, a integração e o sucesso educativo de todas as crianças e jovens da educação pré-escolar ao ensino secundário, bem como desenvolver o respeito pelas diferenças e o estabelecimento de relações positivas de interação e aproximação entre alunos/as e outros membros da comunidade educativa de diferentes culturas.
              </p>

              <div class="row mt-5 mb-5 mb-lg-0">
                <div class="col-12">
                  <img src="{{url_base}}/assets/img/logos/reei.svg" alt="" class="img-fluid">
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
