<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_projetos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/segura_net.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Segura net</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-xl-5 pt-lg-5">
          <div class="col-lg-8 px-5">
            <p class="mt-5 pt-5">
              As crianças e os jovens não veem limites no uso da Internet, no geral, e das redes sociais, em particular, tornando-se por isso alvos fáceis para utilizadores mal-intencionados. Ingénuos e predispostos a acreditar em tudo o que lhes é
              dito, tornam-se vítimas dos mais diversos tipos de crime: assédio e crime sexual, aliciamento, perseguição, cyberbullying, terrorismo, roubo de identidade, tráfico de droga, etc. O que publicamos, ou o que outros publicam sobre nós nas
              redes sociais fica guardado e não é com um simples eliminar que essa informação vai desaparecer. Tudo fica guardado na Web e disponível para quem o queira utilizar de forma legal, seja um cidadão comum, uma empresa ou qualquer outra
              entidade.
            </p>

            <p>Os desafios Seguranet promovem, a utilização segura e crítica das tecnologias digitais, nas comunidades educativas levando os alunos a pensar na sua segurança e alertando-os para os cuidados que devem ter. A sua ação passa pela
              disponibilização de conteúdos e de recursos educativos, pela dinamização de sessões de sensibilização, pela promoção de campanhas de sensibilização, pelas iniciativas Desafios SeguraNet e Líderes Digitais e disseminação do Selo de
              Segurança Digital.</p>
          </div>
          <div class="col-lg-4 px-0">
            <img src="{{url_base}}/assets/img/banners/segura_net_imagem.png" alt="" class="img-fluid">
          </div>

          <div class="col-12 pl-lg-5">
            <img src="{{url_base}}/assets/img/logos/segura_net.svg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
