<div class="container-fluid px-5">
  <div class="row py-5 mt-md-5">
    <div class="col-12 col-md-8 mx-md-auto mb-5 text-center text-md-left">
      <h2 class="title text-9 py-5 mb-0">Política de Cookies</h2>
      <p>Um “cookie” é um pequeno ficheiro descarregado para o seu computador quando visita um website.
        <br/>
        Os “cookies” armazenam informações sobre a sua visita, tais como, qual o seu idioma preferido para navegar no site ou outro tipo de informações semelhantes.
        <br/>
        Com o armazenamento dessas informações, os sites facilitam a sua próxima visita de forma a tornar a navegação no site mais simples.
        <br/>
        Os navegadores web têm opções de personalização para o uso de “cookies”. Habitualmente um navegador oferece as seguintes opções de configuração:
        <br/>
        Mostrar “cookies”;
        <br/>
        Permitir “cookies”;
        <br/>
        Desativar todos ou determinados “cookies”;
        <br/>
        Desativar todos os “cookies” quando fechar o navegador;
        <br/>
        Bloquear “cookies”;
        <br/>
        Informar o utilizador antes de salvar um “cookie”;
        <br/>
        Nota sobre os “cookies”:
        <br/>
        Se bloquear os nossos “cookies” nas definições do seu browser poderá deixar de ter acesso a todas ou parte das áreas do nosso website. Isso poderá afetar a sua experiência de navegação.
        <br/>
        No caso de escolher a opção “Eliminar todos os cookies” do seu browser, as definições padrões serão apagadas.
        <br/>
        Se deixar que o seu navegador guarde os cookies, eles irão ser usados no momento da sua próxima visita ao nosso site.
      </p>
    </div>
  </div>
</div>
