<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/calendario_escolar.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Calendário escolar</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-12 mt-5 pt-5">

            <div class="row">

              <div class="col-xl-10 table-overflow">
                <table class="table">
                  <thead>
                    <tr class="info">
                      <th colspan="5">Atividades letivas</th>
                      <th colspan="3">Interrupções letivas</th>
                    </tr>
                    <tr class="bg-lightblue">
                      <th class="lightblue-text">Semestre</th>
                      <th class="lightblue-text">Início</th>
                      <th colspan="3" class="lightblue-text">Termo</th>
                      <th class="lightblue-text">Interrupções</th>
                      <th class="lightblue-text">Início</th>
                      <th class="lightblue-text">Termo</th>
                    </tr>
                    <tr>
                      <td>1º Semestre</td>
                      <td>17/09</td>
                      <td colspan="3">03/02/2021</td>
                      <td>1ª interrupção</td>
                      <td>09/11</td>
                      <td>11/11</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="3">2º Semestre</td>
                      <td rowspan="3">04/02</td>
                      <td>9º ano</td>
                      <td>7º e 8º ano</td>
                      <td>Pré-escolar | 1º CEB | 5º e 6º Ano</td>
                      <td>3ª Interrupção</td>
                      <td>01/02/2021</td>
                      <td>03/02/2021</td>
                    </tr>
                    <tr>
                      <td rowspan="2">09/06/2021</td>
                      <td rowspan="2">15/06/2021</td>
                      <td rowspan="2">30/06/2021</td>
                      <td>4ª Interrupção</td>
                      <td>15/02/2021</td>
                      <td>17/02/2021</td>
                    </tr>
                    <tr>
                      <td>5ª Interrupção</td>
                      <td>29/03/2021</td>
                      <td>05/04/2021</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-xl-10 table-overflow">
                <table class="table">
                  <thead>
                    <tr class="info">
                      <th>Momentos de avaliação</th>
                      <th>Calendário de Reuniões</th>
                      <th>Tipos de avaliação</th>
                      <th>Reporte aos alunos e família</th>
                    </tr>
                    <tr>
                      <td>1º Momento</td>
                      <td>9 a 11 de novembro</td>
                      <td>Formativa</td>
                      <td>Feedback descritivo e qualitativo</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2º Momento</td>
                      <td>1 a 3 de fevereiro</td>
                      <td>Sumativa</td>
                      <td>Feedback quantitativo</td>
                    </tr>
                    <tr>
                      <td>3º Momento</td>
                      <td>29 a 31 de março</td>
                      <td>Formativa</td>
                      <td>Feedback descritivo e qualitativo</td>
                    </tr>
                    <tr>
                      <td>4º Momento</td>
                      <td>Final do 2º semestre</td>
                      <td>Sumativa</td>
                      <td>Feedback quantitativo</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-5">Descarregar calendário escolar</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
