<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/codigo_conduta.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Código de conduta</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p class="mt-5 pt-5">
              A necessidade da criação de um código de conduta decorreu da emergência de situações relacionadas com a indisciplina, cada vez mais frequentes, e do reconhecimento de que este facto afeta a qualidade da relação pedagógica entre professores e alunos, prejudicando o regular desenvolvimento do processo ensino/aprendizagem. Assumindo como principal objetivo a criação de um ambiente que assegure o desenvolvimento dos valores definidos no Projeto Educativo do Agrupamento e, por consequência, uma educação para a cidadania participativa e responsável, este Código de Conduta considera as questões disciplinares vividas na escola e promove a plena integração dos alunos na comunidade escolar. Esta tarefa implica o envolvimento de toda a comunidade educativa no respeito pelos direitos e deveres definidos no Regulamento Interno do Agrupamento e procura a afirmação da escola enquanto instituição de importância primordial na difusão de conhecimentos, valores éticos, sociais, culturais e de cidadania indispensáveis na integração plena dos indivíduos na nossa sociedade. É também objectivo deste código o desenvolvimento de uma cultura de responsabilização de pais e encarregados de educação no acompanhamento do percurso escolar dos seus educandos, nomeadamente em situações de incumprimento dos seus deveres, enquanto alunos, referidos no Regulamento Interno.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar código de conduta</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
