<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/criterios_avaliacao.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Critérios de Avaliação</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-5 pt-5">
          <div class="col-xl-11 pl-xl-5 px-5">

            <div class="toggle toggle-primary mt-md-5 pt-lg-3" data-plugin-toggle="">
              <section class="toggle active">
                <a class="toggle-title">1º Ciclo</a>
                <div class="toggle-content" style="display: block;">
                  <p class="py-2"><a class="link" href="javascript:void(0);">1º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">2º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">3º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">4º ano</a></p>
                </div>
              </section>
              <section class="toggle">
                <a class="toggle-title">2º e 3º Ciclos</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link" href="javascript:void(0);">5º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">6º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">7º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">8º ano</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">9º ano</a></p>
                </div>
              </section>
              <section class="toggle">
                <a class="toggle-title">Pré-escolar</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link" href="javascript:void(0);">1º ano</a></p>
                </div>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
