<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/estatuto_aluno.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Estatuto do aluno</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p class="mt-5 pt-5">
              O Estatuto prossegue os princípios gerais e organizativos do sistema educativo português, conforme se encontram estatuídos nos artigos 2.º e 3.º da Lei de Bases do Sistema Educativo, promovendo, em especial, o mérito, a assiduidade, a responsabilidade, a disciplina, a integração dos alunos na comunidade educativa e na escola, a sua formação cívica, o cumprimento da escolaridade obrigatória, o sucesso escolar e educativo e a efetiva aquisição de conhecimentos e capacidades.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar estatuto</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
