<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/manuais_escolares.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Manuais escolares</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p>
              Consulte os manuais adotados pela nossa escola para o ano 2020/2021, descarregando o PDF.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar tabela de manuais adotados</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Plataforma MEGA Manuais</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
