<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/provas_finais.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Provas finais, aferição e de equivalência à frequência</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 mt-5">

            <p class="mt-5 pt-5">Nesta página serão publicadas regularmente informações relativas às Provas de Aferição, Provas Finais do 3.º Ciclo do Ensino Básico e às Provas de Equivalência à Frequência do Ensino Básico.</p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-5">Descarregar calendarização</p>
            </a>

            <div class="toggle toggle-primary mt-5" data-plugin-toggle="">
              <section class="toggle active">
                <a class="toggle-title">Informação Geral do Iave</a>
                <div class="toggle-content" style="display: block;">
                  <p class="py-2"><a class="link" href="javascript:void(0);">Janeiro 2021</a></p>
                </div>
              </section>
              <section class="toggle">
                <a class="toggle-title">Provas de aferição</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link text-uppercase" href="javascript:void(0);">Janeiro 2021</a></p>
                </div>
                </section>
              <section class="toggle">
                <a class="toggle-title">Provas finais do 3º ciclo do ensino básico</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link text-uppercase" href="javascript:void(0);">Janeiro 2021</a></p>
                </div>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
