<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/regime_ensino.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Regime de ensino</span>
            </span>
          </span>
        </span>
      </div>


      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <p class="mt-5 pt-5">
            Consulte os regimes de ensino da nossa escola para o ano 2020/2021, descarregando os PDF’s.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-2">Descarregar plano de ensino à distância</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-2">Plano de Transição Ensino Presencial e ensino à distância</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-2">O #ESTUDOEMCASA 2020/2021</p>
            </a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
