<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/regimento_mentorias.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Regimento de mentorias</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p class="mt-5 pt-5">O projeto Mentoria é um dispositivo institucional interpares de integração social e académica e de promoção do sucesso educativo em desenvolvimento no AE.</p>


            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Mentoria 2020</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Regulamento de mentoria</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
