<div class="container-fluid">
  <div class="row">

    <!-- SIDE MENU  -->
    {% include 'Includes/menu_sobre.html' %}
    <!-- FIM SIDE MENU  -->

    <!-- CONTEÚDO DA PÁGINA  -->

    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">

      <!-- BANNER TOPO  -->

      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/about/sobre_1.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Sobre nós</span>
            </span>
          </span>
        </span>
      </div>

      <!-- FIM BANNER TOPO  -->

      <!-- INICIO TEXTO  -->

      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">O Agrupamento</h2>
            <p>
              O Agrupamento de Escolas Virgínia Moura construiu, ao longo dos anos, uma identidade e uma imagem de marca, resultante da capacidade de redefinir a sua missão e objetivos, projetando, organizando e avaliando de forma sistemática o
              desenvolvimento das suas atividades, em função do contexto em que se insere. A envolvência de diversos parceiros foi preponderante, de modo a que, pela qualidade e especificidade do serviço educativo público prestado, fossem alcançados
              e
              consolidados os objetivos a que se propôs.
            </p>
          </div>
        </div>

        <div class="row text-center text-lg-left pl-xl-5 mt-xl-5 pt-lg-5">
          <div class="col-lg-8 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-5 mb-2">Quem foi virgínia moura?</h2>
            <p>
              Virgínia Moura nasceu em 19 de Julho de 1915 em S. Martinho do Conde, Guimarães.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
