<div class="container-fluid">
  <div class="row pt-5 pt-md-0">

    <!-- BANNER TOPO  -->
    <div class="col-12 px-0">
      <div class="portfolio-item mb-5 pb-5">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/news/noticias.png" class="img-fluid border-radius-0" alt="Banner">
            <span class="left-thumb-info-title">
              <span class="thumb-info-inner">Notícias</span>
            </span>
          </span>
        </span>
      </div>
    </div>
    <!-- FIM BANNER TOPO  -->

  </div>
</div>
