<!-- CONTEÚDO DA PÁGINA  -->
<div class="container-fluid bg-indigo pb-5">
  <div class="col-12 col-md-8 mx-md-auto px-md-0 py-5">

    <!-- INÍCIO DO TOGGLE  -->
    <div class="toggle toggle-primary" data-plugin-toggle="">
      <section class="toggle active">
        <a class="toggle-title">Ano 2018/2019</a>
        <div class="toggle-content" style="display: block;">
          <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
        </div>
      </section>
      <section class="toggle">
        <a class="toggle-title">Ano 2019/2020</a>
        <div class="toggle-content">
          <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
        </div>
      </section>
      <section class="toggle">
        <a class="toggle-title">Ano 2020/2021</a>
        <div class="toggle-content">
          <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
        </div>
      </section>
    </div>
    <!-- FIM DO TOGGLE -->

  </div>
</div>
