<div class="container-fluid">
  <div class="row pt-5 pt-md-0">

    <!-- BANNER TOPO  -->
    <div class="col-12 px-0">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/news/noticias.png" class="img-fluid border-radius-0" alt="Banner">
            <span class="left-thumb-info-title">
              <span class="thumb-info-inner">Notícias</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="col-12 mb-5">
      <h2 class="title text-9 text-center py-5 mb-0">Blog</h2>

        <div class="container py-2">
          <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
            <!-- <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
            <li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 text-uppercase" href="#">Websites</a></li>
            <li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 text-uppercase" href="#">Logos</a></li>
            <li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 text-uppercase" href="#">Brands</a></li>
            <li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 text-uppercase" href="#">Medias</a></li> -->
          </ul>

          <div class="sort-destination-loader sort-destination-loader-showing sort-blog mt-4 pt-2">
            <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radiu.pngs-0">
                        <img src="{{url_base}}/assets/img/news/noticias_1.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Dia Mundial da Alimentação</span>
                          <span class="thumb-info-type">No passado dia 16 de outubro, comemorou-se o Dia Mundial da Alimentação...</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>

                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_2.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Onda Rosa</span>
                          <span class="thumb-info-type">Mais uma vez, a Equipa de Educação para a Saúde (PES), em parceria com o Núcleo Regional Norte da Liga Portuguesa Contra o Cancro (LPCC)...</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_3.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Campanha de Solidariedade</span>
                          <span class="thumb-info-type">A Escola Virgínia Moura está a promover uma Campanha de Solidariedade...</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_4.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim...</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_5.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_6.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_7.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_8.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_9.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_10.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_11.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 px-1 isotope-item blog">
                <div class="portfolio-item">
                  <a href="{{url_base}}/noticias/detalhe">
                    <span class="thumb-info thumb-info-lighten border-radius-0">
                      <span class="thumb-info-wrapper border-radius-0">
                        <img src="{{url_base}}/assets/img/news/noticias_12.png" class="img-fluid border-radius-0" alt="Blog"/>
                        <span class="thumb-info-title-blog p-4">
                          <span class="thumb-info-inner">Excepteur Sint</span>
                          <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                        </span>
                        <div class="thumb-info-subtitle-blog">
                          <div class="row mx-0 px-4">
                            <div class="col-6 thumb-info-div px-0 px-0">
                              <p><img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/></p>
                              <p>0</p>
                            </div>
                            <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                              <p><img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/></p>
                              <p>16 out</p>
                            </div>
                          </div>
                        </div>
                        <!-- <span class="thumb-info-action">
                          <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                        </span> -->
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">

            <!-- MOBILE -->
            {% if is_mobile %}
            <p class="text-center"><a class="link" href="javascript:void(0);">Carregar mais</a></p>

            <!-- DESKTOP -->
            {% else %}
            <ul class="pagination d-flex justify-content-center">
              <li class="page-item active"><a class="page-link px-1" href="javascript:void(0);">1</a></li>
              <li class="page-item"><a class="page-link px-1" href="javascript:void(0);">...</a></li>
              <li class="page-item"><a class="page-link px-1" href="javascript:void(0);">20</a></li>
            </ul>

            <ul class="pagination pagination-arrow d-flex justify-content-center">
              <li class="page-item"><a class="page-link px-1" href="javascript:void(0);"><i class="fas fa-arrow-left"></i></a></li>
              <li class="page-item"><a class="page-link px-1" href="javascript:void(0);"><i class="fas fa-arrow-right"></i></a></li>
            </ul>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-indigo pb-5">
  <div class="col-12 col-md-8 mx-md-auto px-md-0 py-5">
    <h2 class="title text-center text-md-left text-9 py-5 mb-0">Recortes de Imprensa</h2>

    <div class="toggle toggle-primary" data-plugin-toggle="">
      <section class="toggle active">
        <a class="toggle-title">Ano 2018/2019</a>
        <div class="toggle-content" style="display: block;">
          <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
        </div>
      </section>
      <section class="toggle">
        <a class="toggle-title">Ano 2019/2020</a>
        <div class="toggle-content">
          <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
        </div>
      </section>
      <section class="toggle">
        <a class="toggle-title">Ano 2020/2021</a>
        <div class="toggle-content">
          <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
        </div>
      </section>
    </div>
  </div>
</div>
