<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/buffet.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Buffet</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-5 mb-2 mt-md-5 pt-lg-3">Buffet</h2>
            <p>
              <span class="axiforma-bold">Horário de funcionamento:</span>08h30 - 17h00<br>
              Encerrado aos alunos durante o período de almoço
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-2">Descarregar preçário</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
