<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/concursos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Concursos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">

            <div class="toggle toggle-primary mt-5 pt-5" data-plugin-toggle="">
              <section class="toggle active">
                <a class="toggle-title">Mediador social</a>
                <div class="toggle-content" style="display: block;">
                  <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
                </div>
              </section>
              <section class="toggle">
                <a class="toggle-title">Terapeuta</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
                </div>
              </section>
              <section class="toggle">
                <a class="toggle-title">Professor Bibliotecário</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link" href="javascript:void(0);">Descarregar ficheiro</a></p>
                </div>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
