<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/form_gerais.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Formulários gerais</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-5 mb-3">Anulação de matrícula</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mb-3">Passagem certificado</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mb-3">Requerimento de bolsa de mérito</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mb-3">Candidatura ao subsídio escolar</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mb-3">Reclamação/Sugestão/Elogio</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
