<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/papelaria.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Papelaria e reprografia</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-5 pt-lg-3">Horário de funcionamento</h2>
            <p>
              09H00 - 16H00
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-4">Papelaria</h2>
            <p>
            Todo o material de papelaria necessário e apropriado ao normal funcionamento das aulas.
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-4">Reprografia</h2>
            <p>
            Reprografia Fotocópias P&B & Cores <br>
            Encadernações em Argolas & Baguete <br>
            Plastificações A3 & A4
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
