<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_alunos.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/pessoal_nao_docente.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Pessoal não docente</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p>
              O quadro de pessoal do agrupamento é composto por 93 docentes e 51 não docentes com bastante experiência e conhecimento da organização. O trabalho cooperativo entre todos evoluiu para a naturalização de práticas correntes.
            </p>
            <p>
              Existem elos de união, promoção de processos de trabalho em grupo, espaços de diálogo e reflexão. A comunicação é um elo essencial entre todos: docentes e não docentes, alunos e encarregados de educação, como forma de incrementar, cada
              vez mais, a abertura da escola à comunidade.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
