<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/refeitorio.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Refeitório</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-5 mb-2 mt-md-5 pt-lg-3">Refeitório</h2>
            <p>
              <span class="axiforma-bold">Horário de funcionamento:</span> 11h45 - 14h00 <br>
              Efetuar marcações em GIAE online
            </p>
            <div class="toggle toggle-primary mt-md-2 pt-lg-3" data-plugin-toggle="">
              <section class="toggle active">
                <a class="toggle-title">EB1/JI</a>
                <div class="toggle-content" style="display: block;">
                  <p class="py-2"><a class="link" href="javascript:void(0);">Janeiro 2021</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">Fevereiro 2021</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">Março 2021</a></p>
                </div>
              </section>
              <section class="toggle">
                <a class="toggle-title">AEVM</a>
                <div class="toggle-content">
                  <p class="py-2"><a class="link" href="javascript:void(0);">Janeiro 2021</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">Fevereiro 2021</a></p>
                  <p class="py-2"><a class="link" href="javascript:void(0);">Março 2021</a></p>
                </div>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
