<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_informacoes.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/servicos_administrativos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Serviços administrativos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Conselho Administrativo</h2>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Carla Maria Dias Perpetua</h2>
            <p>
              Chefe dos serviços de administração escolar
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Jose Armando Silva Amorim Lobo</h2>
            <p>
              Contabilidade <br>
              Cadastro e inventário de bens dos estado
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Celia Conceição Pimenta</h2>
            <p>
              Gestor de pessoal docente/Não docente
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Juliana Manuela Baptista</h2>
            <p>
              Ação social escolar
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Paula Amorim Cunha Faria</h2>
            <p>
              Gestor de alunos <br>
              Expediente
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">Anabela Gloria Silva Abreu</h2>
            <p>
              Tesouraria
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
