/* GENERAL  */

/* TABLES  */
.table {
  /* table-layout: fixed; */
}

.table-overflow {
  overflow-x: auto !important;
}


.table tbody+tbody {
    border: 1px solid black;
}

.table thead th {
  border: none !important;
}

.table td {
  vertical-align: middle;
}

.bg-lightblue {
  background: #3C74BF !important;
}

.lightblue-text {
  color: #FFF !important;
  font-family: AxiformaBold, sans-serif !important;
  text-transform: uppercase;
}

.nav {
  flex-wrap: unset;
}

/* HOME PAGE */
.tparrows,
.tparrows:before {
  background: transparent;
  font-size: 25px;
}

.tparrows:hover {
  background: transparent;
}

.sort-blog::after {
    background-color: rgba(60, 116, 191, 0.06);
}

.thumb-info-title-blog {
  transition: all .3s;
  color: #fff;
  font-weight: 600;
  left: 0;
  letter-spacing: -.05em;
  position: absolute;
  z-index: 2;
  font-size: 17px;
  padding: 13px 21px 2px;
}

.thumb-info-title-blog:hover {
  background: transparent;
}

.thumb-info-title-blog .thumb-info-inner {
  text-transform: uppercase;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  font-family: AxiformaBold, sans-serif;
}

.thumb-info-title-blog .thumb-info-type {
  text-transform: none;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  font-family: AxiformaRegular, sans-serif;
}
​
.thumb-info-blog {
  bottom: 0;
  position: absolute;
}

.thumb-info-div p {
  color: #FFF;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  font-family: AxiformaRegular, sans-serif;
  float: left;
}

.thumb-info-subtitle-blog {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.thumb-info-type {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box!important;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.isotope-item.blog {
  text-align: left;
}

.page-link {
  background-color: transparent;
}

.page-link:hover {
    background-color: transparent;
    border-color: transparent;
}

.pagination-arrow > a,
.pagination-arrow > a:hover,
.pagination-arrow > a:focus,
.pagination-arrow > li > a,
.pagination-arrow > li > span,
.pagination-arrow > li > a:hover,
.pagination-arrow > li > span:hover,
.pagination-arrow > li > a:focus,
.pagination-arrow > li > span:focus {
  color: #0A1265;
}

.toggle-title:hover {
  text-decoration: none;
}

/* SIDE-MENU  */
.sidemenu {
  width: 18vw;
}

.sidemenu-item {
  font-family: AxiformaBold, sans-serif;
  color: #0A1265;
  text-transform: uppercase;
  margin-bottom: .7rem;
  line-height: 1.7rem;
}

.sidemenu-item span {
  border-bottom: 2px solid #0A1265;
  padding-bottom: 2px;
}

.sidemenu-subitem a {
  font-family: AxiformaBold, sans-serif;
  color: #0A1265B3 !important;
  text-transform: uppercase;
}

.nav-link {
  padding: 0 0 .8em 0;
}

.sidemenu a:hover, .nav-link, .sidemenu-subitem {
  text-decoration: none;
}

.left-thumb-info-title {
  transition: all 0.3s;
  background: #0A1265;
  color: #FFF;
  left: 0;
  position: absolute;
  z-index: 2;
  min-width: 45%;
  max-width: 45%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 38px;
  font-family: AxiformaBold, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3% 6%;
  top: 83%;
}

/* GALLERY */
.mfp-counter {
  display: none;
}

.mfp-arrow {
  opacity: 1;
  font-size: 25px;
}

/* FONTS */
.axiforma-bold {
  font-family: AxiformaBold, sans-serif !important;
}

.axiforma-semibold {
  font-family: AxiformaSemiBold, sans-serif !important;
}

.axiforma-regular {
  font-family: AxiformaRegular, sans-serif !important;
}

.axiforma-medium {
  font-family: AxiformaMedium, sans-serif !important;
}

.title {
  color: #0A1265;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-transform: uppercase;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: AxiformaBold, sans-serif;
  line-height: 1.5em;
}

.link {
  color: #205CA4;
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-thickness: 2px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  font-family: AxiformaBold, sans-serif;
}

.sublink {
  color: #245EA2;
  text-transform: uppercase;
  font-family: AxiformaBold, sans-serif;
}

.text-blue {
  color: #0A1265;
}

/* CONTACTS */
.list-image {
  display: flex;
  align-items: start;
}

/*BACKGROUNDS*/
.bg-text {
  background: url('../img/home/sobre.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.bg-indigo {
  background-color: rgba(60, 116, 191, 0.06);
}

.bg-blue {
  background-color: rgba(60, 116, 191, 1);
}



/* MEDIA QUERIES  */

@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }


@media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
  .table {
      width: 100% !important;
  }
  .table td, .table th {
    font-size: 0.7rem;
  }

  .left-thumb-info-title {
    font-size: 30px;
    padding: 6%;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 70%;
    text-align: center;
  }
}

@media (max-width: 1199.98px) { ... }
