@font-face {
    font-family: "AxiformaBold";
    src: local('AxiformaBold'), url('./fonts/AxiformaBold.woff');
}

@font-face {
    font-family: "AxiformaRegular";
    src: local('AxiformaRegular'), url('./fonts/AxiformaRegular.woff');
}

@font-face {
    font-family: "AxiformaMedium";
    src: local('AxiformaMedium'), url('./fonts/AxiformaMedium.woff');
}
@font-face {
    font-family: "AxiformaSemiBold";
    src: local('AxiformaSemiBold'), url('./fonts/AxiformaSemibold.woff2');
}
