<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sucesso.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/clubes.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Clubes</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Cinehistória</h2>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-5 pt-lg-3">Área disciplinar proponente</h2>
            <p>
              Descobrir História(s); História e Geografia de Portugal e História
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">Coordenadora do projeto</h2>
            <p>
              Gracinda Rodrigues
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">1. Enquadramento e relevância do projeto</h2>
            <p>
              Considerando que a escola é uma organização que vive de dinâmicas diversificadas e plurais parece-nos importante dar continuidade ao projeto que pretende acrescentar uma mais-valia à oferta extracurricular deste estabelecimento escolar
              e, por conseguinte, contribuir para a promoção de práticas pedagógicas inovadoras e motivadoras para o público-alvo.
            </p>
            <p>
              Sendo a Escola por excelência um local de preparação para a vida e sendo os nossos alunos os decisores do futuro, deverá propiciar-lhes práticas de cidadania ativa e participativa nos atos decisórios bem como uma maior consciência a
              nível cultural. Ora, a sétima arte, reflete as mutações culturais e sociais, os valores e conceitos do devir dos tempos, as incertezas, a imperfeição e os erros próprios da condição humana, contribuindo para desenvolver e aprofundar a
              consciência que temos da humanidade e promover a prática de valores cívicos e democráticos.
            </p>
            <p>Na medida das reais possibilidades de um clube escolar, que são naturalmente limitadas por questões de tempo, deverá este emprestar uma dinâmica pedagógica através de uma seleção criteriosa da oferta que disponibilizará aos alunos.</p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">2. Objetivos do Projeto Educativo e/ ou Plano Estratégico</h2>
            <p>
              - Aumentar a valorização do empenho e da cultura escolar junto dos alunos; <br>
              - Diferenciar metodologias de Ensino/Aprendizagem; <br>
              - Melhorar a inclusão das crianças e alunos com necessidades Educativas Especiais visando a sua socialização, autonomia e cidadania; <br>
              - Melhorar a postura cívica; <br>
              - Promover práticas colaborativas na comunidade docente; <br>
              - Colmatar o défice de tempo disponível da componente letiva para a utilização de fontes cinematográficas; <br>
              - Promover a valorização partilhada dos processos de aprendizagem; <br>
              - Assumir atitudes de tolerância, flexibilização e responsabilização; <br>
              - Criar um espaço que dê resposta às necessidades de carácter cultural dos alunos; <br>
              - Desenvolver práticas de consumo pedagógico e crítico dos media; <br>
              - Mostrar géneros e proveniências fílmicas diversificadas; <br>
              - Desenvolver a partir do gosto pelo Cinema, o senso crítico, estético e cultural; <br>
              - Promover a interdisciplinaridade; - Incentivar o estudo da disciplina de História; <br>
              - Possibilitar o debate em torno de temáticas atuais apresentadas através de filmes e documentários. <br>
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3"> 3. Enquadramento educativo e metodológico</h2>
            <p>
              Este tipo de clube enquadra-se no espírito da inovação a nível das práticas pedagógicas em que a metodologia do trabalho orientado será a preferencialmente utilizada.
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">4. Análise do perfil da população alvo</h2>
            <p>
              O projeto destina-se a alunos do ensino básico, 2º e 3º ciclos, considerando que nestas faixas etárias os alunos carecem de experiências que favoreçam a motivação para o conhecimento da História nacional e mundial.
            </p>
            <p>
              O
              fascínio pela sete arte, a que os nossos jovens não são imunes, pode ser, neste contexto, um auxiliar precioso na construção do saber, uma vez que as imagens, algumas vezes mais valiosas do que as palavras, são sem dúvida uma mais-valia
              na tarefa de compreender o mundo de antigamente e o atual, levando também ao conhecimento de lugares, e das inter-relações entre espaços.
            </p>
            <p>O cinema pode contribuir para auxiliar na compreensão da disciplina de História e ser um suporte na construção do pensamento crítico, despertando nos alunos a capacidade de análise e reflexão.</p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">5. Localização</h2>
            <p>O projeto será desenvolvido, preferencialmente, nos espaços físicos da Escola Virgínia Moura, no auditório da escola, visto ser um local com ótimas condições para o visionamento de filmes, muito do agrado dos alunos. A seu tempo e com
              a devida autorização, dever-se-ão planificar ações em contexto de sala de cinema.</p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">6. Cronograma das fases</h2>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Fases
                  </th>
                  <th>
                    Calendarização
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Fase de divulgação, motivação e ação
                </td>
                <td>
                  1º semestre
                </td>
              </tbody>
              <tbody>
                <td>
                  Fase de ação e divulgação sistemática
                </td>
                <td>
                  1º e 2º semestre
                </td>
              </tbody>
              <tbody>
                <td>
                  Fase de avaliação
                </td>
                <td>
                  Ao longo do ano letivo
                </td>
              </tbody>
            </table>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3 pt-lg-3">7. Recursos</h2>
            <p>
              O espaço físico necessário será uma sala com projetor multimédia, colunas áudio e quadro branco. Quanto a recursos materiais, será utilizado o acervo de filmes existente na biblioteca escolar ou outros a que se possa recorrer online. Em
              termos de recursos humanos o projeto será dinamizado pelos docentes da área disciplinar de Descobrir História (s) / História e Geografia de Portugal / História, considerando a componente não letiva e de acordo com a disponibilidade dos
              professores. O horário de funcionamento está dependente das horas de CNL atribuídas para o efeito.
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-0 mt-md-3 pt-lg-3">5. Avaliação</h2>
            <h5 class="title text-dark axiforma-bold text-decoration-none text-uppercase text-2 mb-2 mt-0">5.1 Indicadores de avaliação</h5>
            <p> Como referido acima, a avaliação da implementação do projeto e das atividades será feita em dois momentos: durante e após a concretização das atividades e, sempre que o órgão de gestão o solicitar. A monotorização do clube será feita
              através de:</p>
            <p>- Listagem dos alunos que frequentam o clube; <br>
              - Inquéritos para aferir o grau de satisfação dos alunos; <br>
              - Relatório das atividades desenvolvidas e da interdisciplinaridade entre áreas disciplinares <br>
              - Relatório semestral e anual do clube.
            </p>
            <p>A autoavaliação cumprirá o desenho orientador da estrutura do agrupamento.</p>
            <img src="{{url_base}}/assets/img/logos/cine_historia.svg" alt="" class="img-fluid mt-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
