<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sucesso.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/khan_academy.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Khan Academy</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-5 pt-lg-3">Projeto Aprender e Ensinar Matemática com a Khan Academy</h2>
            <p>
              O AEVM comprometeu-se a cooperar na concretização do projeto Aprender e Ensinar Matemática com a Khan Academy (KA) que tem como principal objetivo promover e aprofundar diferentes formas de utilização da plataforma e respetivos recursos
              educativos no ensino e na aprendizagem da Matemática.
            </p>
            <p>
              Este projeto é desenvolvido pelos parceiros Fundação Altice, Direção-Geral da Educação e EDUCOM e aposta na formação de professores para proporcionar o aprofundamento de conhecimentos, capacidades e domínios em processos de trabalho em
              contexto digital.
            </p>
            <p>
              Os professores de Matemática do Agrupamento aceitaram o desafio e participam numa ação de capacitação no âmbito do referido projeto.
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 text-4 mb-2 mt-md-4">Ensino Personalizado</h2>
            <p>
              Os alunos praticam ao seu ritmo, primeiro identificando e preenchendo as lacunas no seu conhecimento e, depois, progredindo na sua aprendizagem.
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 text-4 mb-2 mt-md-4">Conteúdo de confiança</h2>
            <p>
              Os conteúdos da Khan Academy são criados por especialistas americanos e adaptados para o contexto português pela Fundação Altice, com a validação dos vídeos pela Sociedade Portuguesa da Matemática e dos exercícios pela
              Associação de Professores de Matemática. Será sempre gratuita para alunos e para professores.
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-4">Ferramentas para a capacitação de professores</h2>
            <p>
              Com a Khan Academy os professores conseguem identificar mais facilmente as dificuldades dos seus alunos,
              podendo adaptar as estratégias de ensino e ir ao encontro das necessidades de cada um.
            </p>

            <img src="{{url_base}}/assets/img/logos/khan.svg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
