<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sucesso.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/cim_ave.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Cim do ave - pnpse</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
<h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">+ Cidadania</h2>

<h2 class="title axiforma-bold text-decoration-none text-4 text-4 mb-2 mt-md-4">1. O Projeto</h2>

<p>A Plataforma “+Cidadania”, destinada a crianças do 1.º Ciclo do Ensino Básico, tem como missão reduzir e prevenir o abandono escolar precoce e promover a igualdade de acesso a uma educação de boa qualidade.</p>


<p>
  Pretendemos com este projeto desenvolver competências, atitudes e valores que ajudem as crianças a desempenhar um papel ativo na comunidade (local, nacional e internacional) e construir um ambiente de aprendizagem rico em tecnologia, facilitador da aprendizagem, do trabalho colaborativo e da partilha.
</p>

<p>
  Os principais objetivos do projeto são: <br>
  - Promover a utilização dos Tecnologias de Informação e Comunicação na aprendizagem; <br>
  - Criar um ambiente de aprendizagem inovador, adaptativo ao aluno, dinâmico e interativo que estimule e reforce o processo de ensino-aprendizagem; <br>
  - Melhorar os conhecimentos culturais, sociais e políticos da comunidade; <br>
  - Potenciar a participação dos alunos e das famílias na comunidade local; <br>
  - Projetar a socialização e a comunicação com a comunidade; <br>
  - Potenciar a capacidade de iniciativa; <br>
  - Impulsionar a criatividade; <br>
  - Trabalhar valores e a responsabilidade social; <br>
  - Promover e estimular o espírito empreendedor nos alunos. <br>
</p>

<p class="text-uppercase axiforma-bold text-2">
  1.1 Educação para a cidadania
</p>

<p>
  Estão disponíveis as seguintes dimensões da Educação para a Cidadania: Educação Ambiental e Desenvolvimento Sustentável e Educação para a Saúde.
</p>

<p class="text-uppercase axiforma-bold text-2">
  1.2 Currículo Local
</p>

<p>
Uma das áreas diferenciadoras deste projeto consiste na criação de um currículo base local. Com base no património material e imaterial de cada concelho será criado um conjunto atividades que permitam aos alunos, de uma forma divertida e lúdica, conhecer o seu Concelho, a sua história e as suas instituições.
</p>

<p class="text-uppercase axiforma-bold text-2">
  1.3. Conteúdos Curriculares
</p>

<p>À medida que professores e alunos se tornam mais familiarizados com o uso dos computadores, tabletes e da Internet, a aprendizagem em sala de aula, redes e comunidades educativas é cada vez mais suportada por plataformas tecnológicas e Recursos Educativos Digitais (RED).
</p>


            <img src="{{url_base}}/assets/img/logos/cidadania.svg" alt="" class="img-fluid my-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
