<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sucesso.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/plano_inovacao.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Plano de inovação</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <p class="mt-5 pt-5">
              O Agrupamento de escolas Virgínia Moura situa-se no Concelho de Guimarães.
            </p>
            <p>
              Guimarães é uma das mais importantes cidades históricas do país, sendo o seu centro histórico considerado Património Cultural da Humanidade, tornando-a definitivamente um dos maiores centros turísticos da região. Guimarães soube conciliar, da melhor forma, a história e consequente manutenção do património com o dinamismo e empreendedorismo que caracterizam as cidades modernas, que se manifestou na nomeação para Capital Europeia da Cultura em 2012 e foi ainda Cidade Europeia do Desporto (CED), em 2013.
            </p>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-5">Descarregar ficheiro</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
