<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sucesso.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/cm_guimaraes.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">CM de Guimarães Serviço Educativo</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Reconhecer Guimarães</h2>

            <p>Projeto que compreende a realização de visitas aos equipamentos culturais do concelho. Para cada ano prevê-se a realização de uma visita de acordo com a seguinte distribuição: 1º ano – Castelo de Guimarães; 2º ano – Paço dos Duques; 3º
              ano – Centro Ciência Viva; 4º ano – Centro Histórico; 5º ano – Citânia de Briteiros/Museu Castreja; 6º ano – Casa da Memória/CIAJG.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
