<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_servico_educativo.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/biblioteca.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Biblioteca Escolar</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-5 pt-lg-3">A Biblioteca</h2>
            <p>
              A Biblioteca Escolar constitui-se como janela para ver e aprender o Mundo em permanente e célere mutação! Uma ponte favorecedora da troca de olhares entre Mundos - o Mundo da Escola e o Mundo da Comunidade envolvente,  em sintonia com o preconizado no Perfil dos alunos à saída da escolaridade obrigatória, com o intuito de os dotar de Competências: Conhecimentos, Capacidades e Atitudes.  A Biblioteca Virgínia pretende  perseguir o paradigma educacional do século XXI.
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-5 pt-lg-3">O blogue bibliotecas</h2>
            <p>
              BiblioTeclas BiblioTeclas é o blogue da Biblioteca Escolar/Centro de Recursos Educativos Ana Saldanha. <br>
              O BiblioTeclas configura-se como um espelho dos recursos e atividades desenvolvidas na e pela BE, em prol do desenvolvimento dos nossos alunos, para dar cumprimento ao preconizado no “Perfil dos Alunos à Saída da Escolaridade Obrigatória”.
            </p>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4 ">Visitar blogue</p>
            </a>

            <img src="{{url_base}}/assets/img/logos/ler.svg" alt="" class="img-fluid mt-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
