<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_servico_educativo.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/centro_apoio_aprendizagem.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Centro de apoio à aprendizagem</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text mt-5">
            <p class="mt-5 pt-5">
              O Decreto-Lei nº 54/2018 de 6 de julho introduz alterações na forma como a escola e as estruturas de apoio se encontram organizadas, para a implementação de medidas de suporte à aprendizagem e à inclusão ao longo da escolaridade obrigatória. Cada agrupamento dispõe de um Centro de Apoio à Aprendizagem (CAA) – uma estrutura de apoio dinâmica, plural e agregadora dos recursos humanos e materiais, dos saberes e competências existentes na escola, valorizando, assim, os saberes e as experiências de todos. Funcionando numa lógica de serviços de apoio, o centro de apoio à aprendizagem, enquanto recurso organizacional, insere-se no continuum de respostas educativas disponibilizadas pela escola e organiza-se segundo dois eixos: (i) suporte aos docentes responsáveis pelos grupos ou turmas e (ii) complementaridade, com caráter subsidiário, ao trabalho desenvolvido em sala de aula ou noutros contextos educativos.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar documento</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
