<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_servico_educativo.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/gabinete_orientacao.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Gabinete de orientação e mediação das aprenziagens</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5 mt-5">
              <p class="mt-5 pt-5">
              O Apoio Tutorial Específico (ATE) a tutorandos com um historial de retenção é uma medida central que visa possibilitar um trabalho de acompanhamento permanente daqueles, de modo a encontrar respostas adequadas às dificuldades específicas de cada tutorando, facilitando e apoiando-os no estudo, na sua integração na turma e na escola, no cumprimento das regras escolares e no projeto de vida escolar. Constitui uma das várias modalidades de apoio possíveis que podem ser aplicadas aos tutorandos no âmbito do Despacho Normativo n.º 4-A/2016, de 16 de junho.
              </p>

              <a href="javascript:void(0);">
                <p class="axiforma-bold link text-3 my-5">Descarregar apresentação</p>
              </a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
