<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_servico_educativo.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/mediador_social.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Mediador Social</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">

        <p class="mt-5 pt-5">
          O Agrupamento tem-se debatido com problemas de exclusão social , onde existem de longos períodos de desemprego, aumento de famílias disfuncionais. O projeto justifica-se pela sua, descentralização, territorialização e configurar o território enquanto unidade geoeducativa, com direito à inclusão e construção de identidades próprias. Temos como objetivo dar continuidade ao apoio à melhoria das aprendizagens; prevenir o abandono e indisciplina; melhorar a relação escola/família/comunidade, envolvimento da comunidade educativa em projetos que visam o sucesso escolar e social, aplicar os mecanismos de monitorização e autoavaliação. Criar formas de atuação de natureza pedagógica alternativas aos alunos que requeiram o no apoio no âmbito da ação tutorial. Na educação para a saúde, informar os alunos sobre os temas, nas áreas da alimentação, sexualidade. Ajudar os alunos de PLNM num plano de ação para a sua integração na comunidade.
        </p>

        <p>
          São detetados, alunos em risco de desenvolvimento global, quer pelo baixo autoconceito escolar dos alunos, promovidos por ambientes familiares deficitários em estímulos cognitivos e comunicacionais, quer pelas baixas expectativas por parte da comunidade educativa sobre o rendimento escolar. Fatores associados aos meios problemáticos, de origem dos alunos, potenciam problemas comportamentais e de indisciplina propiciadores de climas desfavoráveis ao sucesso educativo. Fraca participação dos pais/EE na vida escolar é um obstáculo ao sucesso escolar. Baixo domínio do português, designadamente nas competências de comunicação e expressão escrita e oral e hábitos de leitura fracos. Desarticulação dos valores veiculados pelo agrupamento e os que a sociedade/família transmite e desrespeito dos alunos pelas regras estabelecidas.
        </p>

        <p>
            O Insucesso escolar na transição de ciclo, com especial incidência no 8.º ano de escolaridade (Causas do insucesso: Absentismo dos alunos; Relação família/escola; Alunos PLNM). Dificuldade de envolver as famílias no acompanhamento das suas crianças nas atividades da escola.
        </p>


            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar ficheiro</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
