<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_servico_educativo.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/psicologia.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Serviços de psicologia e orientação</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 mt-5">

            <p class="mt-5 pt-5">O Serviço de Psicologia e Orientação (SPO) é um serviço educativo especializado, aberto a toda a comunidade escolar. Tem como principal objetivo contribuir para o desenvolvimento integral dos alunos, o seu bem-estar, o seu sucesso
              escolar e a construção dos seus projetos de vida, tendo como referências o perfil dos alunos à saída da escolaridade obrigatória e uma perspetiva de educação inclusiva.</p>

            <p> O Serviço de Psicologia e Orientação tem como domínios específicos de intervenção e competências:</p>

            <p>
              a) O apoio psicológico e psicopedagógico a alunos; <br>
              b) A orientação vocacional/ desenvolvimento de carreira; <br>
              c) O apoio ao desenvolvimento do sistema de relações na comunidade escolar.
            </p>

            <p>O Serviço de Psicologia e Orientação desenvolve as suas funções em contexto escolar, competindo-lhe, designadamente:</p>

            <p>
              - Contribuir, através da sua intervenção especializada, para o desenvolvimento integral dos alunos e para a construção da sua identidade pessoal; <br>
              - Apoiar os alunos no seu processo de socialização e integração escolar; <br>
              - Intervir, a nível psicológico e psicopedagógico, na avaliação, intervenção e apoio dos alunos, promovendo a cooperação de professores, pais e encarregados de educação em articulação com os recursos da comunidade; <br>
              - Participar na Equipa Multidisciplinar de Apoio à Educação Inclusiva dos alunos sujeitos a identificação, tendo em vista a elaboração do relatório técnico-pedagógico, acompanhando ou monitorizando a aplicação das medidas de suporte à
              aprendizagem; <br>
              - Desenvolver programas e ações de aconselhamento pessoal e vocacional a nível individual ou de grupo; <br>
              - Colaborar no estudo, conceção e planeamento de medidas que visem a melhoria da prestação do serviço educativo e acompanhar o desenvolvimento de projetos. <br>
            </p>


            <p>Quem pode aceder ao SPO? <br>
              Podem aceder aos serviços do SPO alunos, pais e encarregados de educação, diretores de turma, professores e pessoal não docente.</p>

            <h2 class="title axiforma-bold text-decoration-none text-5 mb-0 mt-md-5">Psicólogos</h2>

            <p><span class="axiforma-bold">Lisete Freitas</span><br>
              E-mail: spo.lisetefreitas@aevm.edu.pt
            </p>
            <p><span class="axiforma-bold">Carlos Freitas</span><br>
              E-mail: spo.carlosfreitas@aevm.edu.pt
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-5 mb-0 mt-md-5">Local de atendimento</h2>

            <p>
              <span class="axiforma-bold">AEVM Escola sede</span> <br>
              Gabinete piso 1 <br>
              Gabinete piso 2
            </p>

            <p class="axiforma-semibold font-italic mt-5">Nota: A intervenção com alunos do primeiro ciclo é realizada nos respectivos estabelecimentos de ensino</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
