<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_servico_educativo.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/terapeuta_fala.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Terapeuta da fala</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5">
            <p class="mt-5 pt-5">
              - Construir alicerces para a Leitura; <br>
              - Compreender as principais variáveis preditoras da aprendizagem da leitura, escrita e cálculo antes da entrada para o 1.º ciclo; <br>
              - Melhorar as competências prévias ao ensino formal: leitoras, linguísticas, emocionais, matemáticas e de escrita; <br>
              - Promover o ajustamento socio emocional na transição EPE – 1.º ciclo; - Diminuir níveis de insucesso escolar decorrentes de situações de inadaptação; <br>
              - Promover as competência pré-leitoras promovidas para as crianças no último ano da educação pré-escolar. <br>
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar ficheiro</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
