<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/associacao_pais.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Orgãos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-4 mt-md-5 pt-lg-3">Associação de pais</h2>
            <p class="sublink text-4">Escola Básica Virginia Moura</p>

            <p>A Associação de Pais e Encarregados de Educação procura desempenhar o seu papel tendo em vista contribuir para uma melhoria das condições de ensino do Agrupamento. Desde a intervenção direta em projetos de animação da vida do
              Agrupamento, à participação na definição das estratégias e objetivos, quer, ainda, à entreajuda com os demais elementos da Comunidade Educativa.</p>
            <p> papel da Associação de Pais e Encarregados de Educação encontra o respetivo suporte legal em quatro textos legais: A Constituição da República, a qual consagra no artigo 77º o princípio da participação democrática no ensino dos
              diversos agentes, estabelecendo que a lei regulará as formas de participação das associações de pais na definição da política de ensino.</p>
            <p> O O Decreto-Lei nº 372/90, de 27 de novembro, veio consagrar o regime de constituição, os direitos e os deveres a que ficam subordinadas as Associações de Pais e Encarregados de Educação.</p>
            <p>Os Estatutos da Associação. Nestes, para além da identificação dos órgãos da associação consagraram-se também os direitos e obrigações dos associados.</p>
            <p>O Regulamento Interno do Agrupamento de Escolas de Valdevez que diz o seguinte:</p>

            <p>Secção VI <br>
              Associação de Pais e Encarregados de Educação <br>
              Artigo 82º</p>

            <p>Enquadramento</p>

            <p>1- Ao presente Regulamento está subjacente o princípio de que o contributo dos Pais e Encarregados de Educação é decisivo na definição da política educativa, é um apoio e estímulo indispensáveis no seu desenvolvimento, desempenhando um
              papel insubstituível na educação dos alunos, na sua formação e, obviamente, no seu sucesso escolar.</p>

            <p>Artigo 83º</p>

            <p>Identificação e composição</p>

            <p>1- Para efeitos do disposto no presente regulamento e de acordo com o Despacho nº14026/2007, de 3 de julho, considera-se encarregado de educação quem tiver menores à sua guarda:</p>

            <p>
              a) Pelo exercício do poder paternal; <br>
              b) Por decisão judicial; <br>
              c) Pelo exercício de funções executivas na direção de instituições que tenham menores, a qualquer título, à sua responsabilidade; <br>
              d) Por delegação, devidamente comprovada, por parte de qualquer das entidades referidas nas alíneas anteriores. <br>
            </p>

            <p>2- Não pode ser aceite como encarregado de educação quem não se enquadre em qualquer das categorias fixadas no número anterior.</p>

            <p>3- Os alunos maiores ou emancipados não têm encarregado de educação, cabendo-lhes o exercício de todas as ações previstas no presente regulamento para aqueles.</p>

            <p>4- A Associação de Pais e Encarregados de Educação do Agrupamento representa os interesses de todos os Pais/ Encarregados de Educação associados, rege-se por estatutos próprios e tem sede na EB 2,3/S do Agrupamento.</p>

            <p>5- A Associação poderá utilizar instalações do Agrupamento quando pretenda levar a efeito atividades extracurriculares que sejam de interesse para a comunidade educativa e desde que sejam solicitadas atempadamente.</p>

            <p> Artigo 84º</p>

            <p>Competências</p>

            <p>1- Sem prejuízo das competências que lhe são cometidas pela lei e neste regulamento são competências da associação de pais e encarregados de educação:</p>

            <p>a) Representar todos os Pais/Encarregados de Educação associados no Conselho Pedagógico e no Conselho Geral, nos termos da lei; <br>
              b) Representar os Pais/Encarregados de Educação associados junto do Diretor; <br>
              c) Colaborar com o Conselho Pedagógico na apreciação de projetos relativos a atividades de complemento curricular; <br>
              d) Exercer as demais competências previstas na lei e no presente regulamento. <br></p>


            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3">Direção</h2>

            <p>
              Presidente: Nome <br>
              Vice-Presidente: Nome <br>
              Tesoureiro: Nome <br>
              Vogal: Nome <br>
              Secretário: Nome
            </p>


            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3">Mesa da Assembleia Geral</h2>

            <p>
              Presidente: Nome <br>
              1º Secretário: Nome <br>
              2º Secretário: Nome
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3">Conselho Fiscal</h2>

            <p>
              Presidente: Nome <br>
              Vogal: Nome <br>
              Vogal: Nome
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3">Suplentes</h2>
            <p>
              Direção: Nome <br>
              Assembleia geral: Nome <br>
              Conselho fiscal: Nome
            </p>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-3">Contactos</h2>

            <p>Asociação de Pais e Encarregados de Educação da Escola Básica Virgínia Moura <br>
              Escola Básica Virgínia Moura <br>
              Avenida 1º de Agosto <br>
              4815-254 Moreira de Cónegos
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-5 mb-3">Descarregar estatutos</p>
            </a>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mb-4">Descarregar plano de atividades</p>
            </a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
