<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/relatorios.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Relatórios</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Autoavaliação</h2>

            <p class="text-uppercase axiforma-bold">
              Avaliação interna
            </p>
            <p class="mb-1">O atual quadro legal português, respeitante à avaliação das escolas e instituições de ensino não superior (Decreto-lei n.º 31/2002 de 20 de dezembro) confere à escola a responsabilidade pela qualidade educativa que
              oferece, de modo a promover o sucesso educativo dos alunos. No processo de autoavaliação da organização escolar procede-se à identificação do grau de concretização dos objetivos fixados no Projeto Educativo, à avaliação das atividades
              realizadas no Agrupamento de Escolas e da sua organização e gestão, designadamente no que diz respeito aos resultados escolares e prestação do serviço educativo. Anualmente publica-se um documento avaliativo síntese, denominado
              “Relatório de autoavaliação”. A Equipa de Autoavaliação tem a responsabilidade de implementar o processo de autoavaliação da escola que integra pessoal docente, pessoal não docente, pais e encarregados de educação bem como os alunos do
              agrupamento.</p>

            <p class="text-uppercase axiforma-bold">
              Constituição da equipa de autoavaliação
            </p>

            <p class="mb-1"><span class="axiforma-semibold">Alexandrina Miranda</span> - (Coordenadora da equipa- docente do 3º ciclo )</p>
            <p class="mb-1"><span class="axiforma-semibold">Célia Costa</span> - ( Coordenadora do Departamento de Matemática e Ciências Exatas-docente do 3º ciclo)</p>
            <p class="mb-1"><span class="axiforma-semibold">Lucinda Cunha</span> - (Coordenadora do PAA, projetos e formação de professores -docente do 3º ciclo )</p>
            <p class="mb-1"><span class="axiforma-semibold">Sónia Ribeiro</span> - ( Coordenadora da monitorização de projetos- docente do 3º ciclo)</p>
            <p class="mb-1"><span class="axiforma-semibold">Esmeralda</span> - (Coordenadora do Primeiro Ciclo)</p>
            <p class="mb-1"><span class="axiforma-semibold">Carolina Monteiro</span> - (Coordenadora do Subdepartamento de Educação Especial)</p>
            <p class="mb-1"><span class="axiforma-semibold">Conceição Monteiro</span> - (Coordenadora do Conselho de Docentes da Educação Pré-Escolar)</p>
            <p class="mb-1"><span class="axiforma-semibold">Prudenciana Martins</span> - ( Coordenadora da Biblioteca Escolar)</p>
            <p class="mb-1"><span class="axiforma-semibold">Dores Ferreira</span> - (Docente3º ciclo)</p>
            <p class="mb-1"><span class="axiforma-semibold">Célia Pinheiro</span> - (Docente do 2º ciclo)</p>
            <p class="mb-1"><span class="axiforma-semibold">Fátima Silva</span> - (Representante dos Assistentes Técnicos e Operacionais)</p>
            <p class="mb-1"><span class="axiforma-semibold">Mariana Abreu 8º C</span> - (Representante dos alunos)</p>


            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-5 mb-4">Descarregar relatório final de avaliação interna 2019/2020</p>
            </a>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar relatório de autoavaliação 2019/2020</p>
            </a>


          </div>
        </div>

      </div>

    </div>
  </div>
</div>
