<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/orgaos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Orgãos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Conselho Pedagógico</h2>

            <div class="row">

              <div class="col-xl-11 table-overflow">
                <table class="table">
                  <tbody>
                    <tr class="info">
                      <td rowspan="5" class="bg-lightblue w-25">COORDENAÇÃO DE DEPARTAMENTOS CURRICULARES</td>
                      <td>Departamento</td>
                      <td>Código do Grupo de Recrutamento</td>
                      <td>Áreas Disciplinares</td>
                      <td>Coordenadores</td>
                    </tr>
                    <tr>
                      <td>Ciências Sociais e Humanas</td>
                      <td>200, 290, 400 e 420</td>
                      <td>H, HGP, G, EMRC</td>
                      <td>Carmo Dias</td>
                    </tr>
                    <tr>
                      <td>Expressões</td>
                      <td>240, 250, 260, 600, 620 e 910</td>
                      <td>EV, ET, EM, EF, Ed. Esp</td>
                      <td>Teresa Mendes</td>
                    </tr>
                    <tr>
                      <td>Matemática e Ciências Experimentais</td>
                      <td>230, 500, 510, 520, 550</td>
                      <td>M, TIC, CN, CFQ,</td>
                      <td>Célia Costa</td>
                    </tr>
                    <tr>
                      <td>Línguas</td>
                      <td>120, 220, 300,320 e 330</td>
                      <td>P, ING, FR</td>
                      <td>Conceição Pereira</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-xl-11 table-overflow mt-5">
                <table class="table">
                  <tbody>
                    <tr class="info">
                      <td rowspan="5" class="bg-lightblue w-25">COORDENAÇÃO DE CICLO</td>
                      <td>Coordenação</td>
                      <td>CoordenaDORES</td>
                    </tr>
                    <tr>
                      <td>Coordenação do 1º Ciclo</td>
                      <td>Coordenação do 2º e 3º Ciclo</td>
                    </tr>
                    <tr>
                      <td>Maria Esmeralda Barros Freitas</td>
                      <td>Maria da Conceição Ferreira Alves</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-xl-11 table-overflow mt-5">
                <table class="table">
                  <tbody>
                    <tr class="info">
                      <td rowspan="5" class="bg-lightblue w-25">COORDENAÇÃO DO CONSELHO DE DOCENTES</td>
                      <td>Coordenação</td>
                      <td>CoordenaDORES</td>
                    </tr>
                    <tr>
                      <td>Conselho de Docentes 1º Ciclo</td>
                      <td>Carmezinda M. de Matos Faria</td>
                    </tr>
                    <tr>
                      <td>Conselho de Docentes do Pré-escolar</td>
                      <td>Maria da Conceição C. Monteiro</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
