<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/orgaos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Orgãos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-3 mt-md-5 pt-lg-3">Conselho Administrativo</h2>

            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2">Diretora</h2>
            <p>
              Maria de Jesus Teixeira Carvalho
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-4">Subdiretor</h2>
            <p>
            Vitor Rui da Silva Carneiro
            </p>
            <h2 class="title axiforma-bold text-decoration-none text-4 mb-2 mt-md-4">Coordenadora Técnica</h2>
            <p>
          Carla Maria Dias Perpétua
            </p>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
