<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/orgaos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Orgãos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Conselho Geral</h2>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Nome
                  </th>
                  <th>
                    Nível/Ciclo de ensino
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Celina da Luz Pinto Sequeira da Silva
                </td>
                <td>
                  3.º CEB e ES
                </td>
              </tbody>
              <tbody>
                <td>
                  Idalina Rosária Costa Vinhas Martins Carvalho
                </td>
                <td>
                  3.º CEB e ES
                </td>
              </tbody>
              <tbody>
                <td>
                  Emília de Jesus Ribeiro de Castro
                </td>
                <td>
                  1.º CEB
                </td>
              </tbody>
              <tbody>
                <td>
                  Vera Lúcia Ferreira Mendes
                </td>
                <td>
                  1.º CEB
                </td>
              </tbody>
              <tbody>
                <td>
                  Elisabete Carvalho Oliveira
                </td>
                <td>
                  1.º CEB
                </td>
              </tbody>
              <tbody>
                <td>
                  Maria Rosa Sousa Lopes
                </td>
                <td>
                  1.º CEB
                </td>
              </tbody>
              <tbody>
                <td>
                  Francisco Xavier Ferreira Fonseca
                </td>
                <td>
                  3.º CEB e ES
                </td>
              </tbody>
              <tbody>
                <td>
                  Emília Manuela Moreira Alves Valente
                </td>
                <td>
                  2.º CEB
                </td>
              </tbody>
            </table>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Nome
                  </th>
                  <th>
                    Carreira
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Paula Maria Cunha Faria
                </td>
                <td>
                  Assistente operacional
                </td>
              </tbody>
              <tbody>
                <td>
                  Margarida Caldeira
                </td>
                <td>
                  Assistente operacional
                </td>
              </tbody>
            </table>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Nome
                  </th>
                  <th>
                    Dirigente de Associação de Pais?
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Cláudia Sofia Freitas Costa
                </td>
                <td>
                  Sim
                </td>
              </tbody>
              <tbody>
                <td>
                  Diogo Castro
                </td>
                <td>
                  Sim
                </td>
              </tbody>
              <tbody>
                <td>
                  Armindo Dinis Silva Pereira
                </td>
                <td>
                  Sim
                </td>
              </tbody>
              <tbody>
                <td>
                  Mário Rui Machado Ribeiro
                </td>
                <td>
                  Sim
                </td>
              </tbody>
              <tbody>
                <td>
                  Pedro Salgado
                </td>
                <td>
                  Sim
                </td>
              </tbody>
              <tbody>
                <td>
                  Maria Judite da Costa Pereira
                </td>
                <td>
                  Sim
                </td>
              </tbody>
            </table>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Nome
                  </th>
                  <th>
                    Função na autarquia
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Adelina Paula Mendes Pinto
                </td>
                <td>
                  Vereador(a) da Educação
                </td>
              </tbody>
              <tbody>
                <td>
                  Helena Pinto
                </td>
                <td>
                  Técnico(a) da CM
                </td>
              </tbody>
              <tbody>
                <td>
                  Marta Mota
                </td>
                <td>
                  Técnico(a) da CM
                </td>
              </tbody>
            </table>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Nome
                  </th>
                  <th>
                    Área de intervenção
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Lino Pereira Lopes dos Reis
                </td>
                <td>
                  Social
                </td>
              </tbody>
              <tbody>
                <td>
                  Paulo Cunha
                </td>
                <td>
                  Actividade económica
                </td>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
