<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/orgaos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Orgãos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Coordenadores de escolas</h2>

            <table class="table my-5">
              <thead>
                <tr class="info">
                  <th>
                    Escola/JI
                  </th>
                  <th>
                    Coordenadores
                  </th>
                </tr>
              </thead>
              <tbody>
                <td>
                  EB1/JI Carreiro
                </td>
                <td>
                  Armando Martins
                </td>
              </tbody>
              <tbody>
                <td>
                EB1/JI Guardizela
                </td>
                <td>
                  Rosa Machado
                </td>
              </tbody>
              <tbody>
                <td>
                  EB1/JI Vermis
                </td>
                <td>
                Edite Sampaio
                </td>
              </tbody>
              <tbody>
                <td>
                  EB1/JI Aula-Conde
                </td>
                <td>
                  Maria do Sameiro Leite Pereira
                </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
