<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/relatorios.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Relatórios</span>
            </span>
          </span>
        </span>
        <div class="container-fluid pl-xl-5">
          <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
            <div class="col-xl-11 pl-xl-5 px-5">
              <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">INSPEÇÃO GERAL DE EDUCAÇÃO (IGE)</h2>
              <p>
                A Lei n.o 31/2002, de 20 de dezembro, aprovou o sistema de avaliação dos estabelecimentos de educação pré-escolar e dos ensinos básico e secundário, definindo orientações gerais para a autoavaliação e para a avaliação externa. Neste
                âmbito, foi desenvolvido, desde 2006, um programa nacional de avaliação dos jardins de infância e das escolas básicas e secundárias públicas, tendo-se cumprido o primeiro ciclo de avaliação em junho de 2011.
              </p>
              <p>A então Inspeção-Geral da Educação foi incumbida de dar continuidade ao programa de avaliação externa das escolas, na sequência da proposta de modelo para um novo ciclo de avaliação externa, apresentada pelo Grupo de Trabalho
                (Despacho n.o 4150/2011, de 4 de março). Assim, apoiando-se no modelo construído e na experimentação realizada em doze escolas e agrupamentos de escolas, a Inspeção-Geral da Educação e Ciência (IGEC) está a desenvolver esta atividade
                consignada como sua competência no Decreto Regulamentar n.o 15/2012, de 27 de janeiro. …</p>
              <a href="javascript:void(0);">
                <p class="axiforma-bold link text-3 mt-5 mb-0">Descarregar IGE</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
