<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/atividades.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Atividades</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 text">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-3 mt-md-5 pt-lg-3">Plano anual de atividades</h2>
            <p>
              Considerando a política e as metas educativas traçadas no Projeto Educativo, pretende-se que o Plano Anual de Atividades idealize a planificação, a definição dos objetivos, as formas de organização, de programação e de operacionalização
              das ações propostas pelos Departamentos e Conselhos de Docentes, a desenvolver nas diferentes escolas deste Agrupamento, ao longo deste ano letivo e proceda à identificação dos recursos envolvidos.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Descarregar plano de atividades</p>
            </a>

            <h2 class="title axiforma-bold text-8 text-lg-9 mb-3 mt-md-5 pt-lg-5">Calendário de atividades</h2>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
