<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/premios.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Prémios e dinstinções</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <p class="mt-5 pt-5">Ao longo da sua história, o Agrupamento de Escolas Virgínia Moura tem merecido a distinção de diversas entidades que reconhecem o valor, a excelência e o espírito diferenciador dos nossos projetos e de todas as
              iniciativas em que participamos.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-0 d-none d-lg-block">
            <img src="{{url_base}}/assets/img/awards/premios.png" alt="" class="img-fluid float-right mt-5">
          </div>
          <div class="col-12 px-0 d-block d-lg-none">
            <img src="{{url_base}}/assets/img/awards/premios_mobile.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
