<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/documentos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Documentos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Projeto educativo</h2>
            <p>
              “Uma Escola para o século XXI, de todos e para cada um.”
            </p>
            <p>
              Conscientes de que viver num mundo francamente mais exigente, seletivo e global impõem à Escola desafios maiores e constantes: Deste modo, é atributo do Projeto Educativo que aqui se apresenta, apostar na formação de cidadão sativos,
              pilares de uma sociedade que se quer democrática, justa e equilibrada.
            </p>
            <p>
              Educar para o futuro e para a valorização das diferenças de cada um, no sentido de estruturar, de forma consistente, os nossos alunos, tornando-os cidadãos esclarecidos, interventivos e críticos, perpetuando os valores democráticos e
              humanistas e indo de encontro ao Perfil dos alunos à saída da escolaridade obrigatória e às Aprendizagens essenciais emanadas pelo Ministério da Educação.
            </p>
            <p>Resumidamente, pretende-se orientar a ação educativa, paralelamente com uma formação exigente e rigorosa ao nível dos conhecimentos e das competências, para a construção de indivíduos respeitadores da diferença, encarando-a como um
              fator de enriquecimento e nunca de exclusão.</p>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-5">Descarregar projeto educativo</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
