<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/atividades.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Quadro de mérito e excelência de alunos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5 mt-5">
            <p class="mt-5 pt-5">
              Nesta página iremos publicar o quadro de mérito e excelência de alunos. <br>
              Será atualizada a cada ano letivo.
            </p>

            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Prémio de mérito 2019-2020</p>
            </a>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-4">Prémio de excelência 2019-2020</p>
            </a>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
