<div class="container-fluid">
  <div class="row">
    {% include 'Includes/menu_sobre.html' %}
    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">
      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/documentos.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Documentos</span>
            </span>
          </span>
        </span>
      </div>
      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">Regulamento educativo</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 mt-5 mb-0">Descarregar regulamento</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
