<div class="container-fluid">
  <div class="row">

    <!-- SIDE MENU  -->
    {% include 'Includes/menu_sobre.html' %}
    <!-- FIM SIDE MENU  -->

    <!-- CONTEÚDO DA PÁGINA  -->

    <div class="col-lg-9 px-0 mb-lg-5 pb-lg-5">

      <!-- BANNER TOPO  -->

      <div class="portfolio-item">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/about/sobre_1.png" class="img-fluid border-radius-0" alt="">
            <span class="thumb-info-title">
              <span class="thumb-info-inner">Sobre nós</span>
            </span>
          </span>
        </span>
      </div>

      <!-- FIM BANNER TOPO  -->

      <!-- INICIO TEXTO  -->

      <div class="container-fluid pl-xl-5">
        <div class="row text-center text-lg-left pl-xl-5 mt-lg-5 pt-lg-5">
          <div class="col-xl-11 pl-xl-5 px-5">
            <h2 class="title axiforma-bold text-8 text-lg-9 mb-5 mt-5 pt-5">O Agrupamento</h2>
            <p>
              O Agrupamento de Escolas Virgínia Moura construiu, ao longo dos anos, uma identidade e uma imagem de marca, resultante da capacidade de redefinir a sua missão e objetivos, projetando, organizando e avaliando de forma sistemática o
              desenvolvimento das suas atividades, em função do contexto em que se insere. A envolvência de diversos parceiros foi preponderante, de modo a que, pela qualidade e especificidade do serviço educativo público prestado, fossem alcançados
              e
              consolidados os objetivos a que se propôs.
            </p>
            <p>
              O Agrupamento de Escolas Virgínia Moura é uma unidade organizacional constituída pela escola-sede, a Escola Básica Virgínia Moura, com turmas de 2.º e 3.º ciclos, e seis escolas do 1.º Ciclo do Ensino Básico. Em cinco destas escolas
              encontram-se a funcionar sete salas de jardim-de-infância.
              <br>
              As escolas do 1.º ciclo do Ensino Básico são as seguintes: EB1/JI de Vermis – Moreira de Cónegos; EB1/JI do Carreiro – Lordelo; EB1/JI de Aula – Conde e EB1/JI de Monte – Guardizela.
              <br>
              Todas as escolas do agrupamento integram salas da Educação Pré-Escolar.
              <br>
              Ao nível do 1.º ciclo, é variável o número de turmas a funcionar nas diferentes escolas e, decorrente da diminuição do número de alunos que se tem vindo a registar, existem turmas que integram alunos de diferentes anos de escolaridade.
              <br>
              No dia 5 de maio de 2008, pela primeira vez na história deste agrupamento e coincidindo com a apresentação do seu patrono a toda a comunidade educativa, comemorou-se o Dia do Agrupamento, tendo como objetivo o desenvolvimento da
              identidade e sentido de pertença. Esta data, que coincidiu com a alteração do nome do agrupamento, designando-se de Agrupamento de Escolas Virgínia Moura, passou a ser assinalada por todas as escolas, na escola-sede, para fortalecer a
              ideia de união, de grupo e de agrupamento, permitindo o convívio e a sã camaradagem entre todos os atores: alunos, professores, assistentes técnicos e operacionais e comunidade em geral.
            </p>
            <h2 class="title axiforma-bold text-8 text-lg-9 my-5 mt-lg-5 pt-lg-3">O Patrono</h2>
            <p>O Agrupamento tem como patrono a Engenheira Virgínia Moura, defensora incondicional dos ideais e valores da liberdade, da solidariedade e da democracia. Virgínia Moura nasceu em 19 de Julho de 1915, em S. Martinho do Conde, Guimarães.
            </p>
            <p> Foi a primeira mulher portuguesa a obter o título de engenheira civil. Cursou ainda Matemáticas e frequentou a Faculdade de Letras de Coimbra. Desenvolveu uma intensa atividade cultural no Porto nos anos quarenta e cinquenta, do
              século
              passado, tendo colaborado (sob o pseudónimo de Maria Selma) em vários jornais e revistas, promovido a edição da revista «Sol Nascente» e realizado diversas conferências.</p>
            <p> A sua intensa, firme e corajosa atividade política contra o regime fascista levou-a, em 1949, à prisão, o que, até 25 de Abril de 1974, viria a repetir-se por mais 15 vezes. Depois do 25 de Abril e nas novas condições de liberdade,
              Virgínia Moura continuou a luta em defesa e consolidação do regime democrático. Foi distinguida com a Ordem da Liberdade e recebeu a Medalha de Honra da Câmara Municipal do Porto e do Movimento Democrático de Mulheres.</p>
            <p> A apresentação oficial do patrono fez-se a 21 de novembro de 2008, passando o Agrupamento de Escolas de Moreira de Cónegos a chamar-se <span class="axiforma-bold">AGRUPAMENTO DE ESCOLAS VIRGÍNIA MOURA.</span></p>
          </div>
        </div>
        <div class="row text-center text-lg-left pl-xl-5 mt-xl-5 pt-lg-5">
          <div class="col-lg-8 px-5">
            <h2 class="title axiforma-bold text-decoration-none text-5 mb-2">Quem foi virgínia moura?</h2>
            <p>
              Virgínia Moura nasceu em 19 de Julho de 1915 em S. Martinho do Conde, Guimarães.
            </p>
            <p>
              Virgínia Moura com o seu companheiro de uma vida António Lobão Vital foram extraordinários artífices de pequenas e grandes lutas pela liberdade, pacientes construtores da unidade anti-fascista, assumindo exemplarmente um quotidiano
              confronto, sem concessões com um regime opressor e ditatorial. Foram reconhecidamente dois dos mais destacados rostos legais do PCP. Constituíram uma referência política e moral fundamental para gerações de jovens, de trabalhadores e
              destacados intelectuais.
            </p>
            <p>
              Data de 1933 a ligação de Virgínia ao PCP, tendo nesse ano participado na organização da secção portuguesa do Socorro Vermelho (Organização de Socorro aos Presos Políticos Portugueses e Espanhóis).
            </p>
            <p>
              Foi a primeira mulher portuguesa a obter o título de engenheira civil, foi-lhe negado o acesso à Função Pública, pois a ficha policial já então a assinalava como séria opositora da ditadura fascista. Cursou ainda Matemáticas e
              frequentou a Faculdade de Letras de Coimbra.
            </p>
            <p>
              Desenvolveu uma intensa actividade cultural no Porto nos anos quarenta e cinquenta, tendo colaborado (sob o pseudónimo de Maria Selma) em vários jornais e revistas, promovido a edição da revista «Sol Nascente» e diversas conferências
              com a participação de Teixeira de Pascoais, Maria Isabel Aboim Inglês e Maria Lamas.
            </p>
            <p>A sua intensa, firme e corajosa actividade política contra o regime fascista levou-a a em 1949 à primeira prisão o que, até ao 25 de Abril, viria a repetir-se 15 vezes</p>
            <p>
              Ainda na clandestinidade, foi membro do Comité Central do Partido Comunista Português.
            </p>
            <p>Depois do 25 de Abril e nas novas condições de liberdade, Virgínia Moura continuou a luta em defesa e consolidação do regime democrático, pelas transformações capazes de assegurar uma sociedade mais justa, por um Portugal de Abril
              rumo ao socialismo.</p>
            <p>
              Virgínia Moura foi distinguida com a Ordem da Liberdade e recebeu a Medalha de Honra da Câmara Municipal do Porto e do Movimento Democrático de Mulheres.
            </p>
            <p>Por ocasião do seu octogésimo aniversário, foi-lhe prestada, no Palácio de Cristal, uma expressiva homenagem, tendo sido então publicado, pelas edições «Avante!», o livro «Virgínia Moura, mulher de Abril - Álbum de memórias».
            </p>
          </div>

          <div class="col-lg-4 px-0">
            <img src="{{url_base}}/assets/img/about/sobre_2.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row text-center text-lg-left pl-lg-5 mt-xl-5 pt-lg-5">
          <div class="col-5 pl-xl-5 pl-0 d-none d-lg-block">
            <img src="{{url_base}}/assets/img/about/sobre_3.png" alt="" class="img-fluid">
          </div>
          <div class="col-lg-6 px-5 pl-lg-4 mt-5 mt-lg-0 text-center text-lg-left">
            <p>
              Presa dezasseis vezes, nove vezes processada e três vezes condenada, agredida inúmeras vezes pela polícia política durante actos públicos de afirmação democrática, a vida de Virgínia Moura foi um constante confronto com o fascismo.
            </p>
            <p>Esteve nos combates do MUNAF, do MUD e do Movimento Nacional Democrático; nas batalhas políticas em torno das “presidenciais” com as candidaturas de Norton de Matos, de Ruy Luís Gomes, de Humberto Delgado; nos congressos da oposição
              democrática e nas campanhas políticas de massas desenvolvidas em torno das farsas eleitorais para a chamada Assembleia Nacional, em 1969 e 1973; nas pequenas e grandes lutas pela paz, pela solidariedade com os presos políticos e
              contra a repressão, pela melhoria das condições de vida do povo, pela libertação dos povos colonizados, pela igualdade e afirmação dos direitos das mulheres e da sua participação na vida política, pela criação das condições que
              conduziram ao derrubamento do fascismo e à Revolução de Abril, de que foi igualmente participante e obreira entusiástica e empenhada</p>
            <p>Era visível a sua alegria nas primeiras horas da libertação a seguir ao 25 de Abril, como também a sua presença e contribuição apaixonada nos combates pela defesa e construção da democracia, procurando sempre intervir até ao último
              sopro de vida, como deu ainda recentemente testemunho pela sua participação activa na luta contra o aborto clandestino e pela despenalização da interrupção voluntária da gravidez.</p>
          </div>
          <div class="col-11 mt-lg-3 pl-xl-5 text-center text-lg-left">
            <p>Por tudo isto e pelo seu modo espontâneo de se dar aos outros, o seu modo de compreender os outro, a sua modéstia feita de humanidade, de sabedoria de convicções, a sua afabilidade que nela tão bem se harmonizava com a rijeza do
              granito do Porto, Virgínia, a “Senhora Engenheira” como por tantos era carinhosamente tratada, foi uma figura querida, uma filha do povo que, por onde passava, deixava um rasto de acenos, de abraços, de palavras fraternas de um sem
              número de amigos. </p>
            <p>Comunista, revolucionária, cidadã esclarecida do nosso tempo que identificou a sua vida com a luta do povo e com as grandes causas da democracia, lega-nos o exemplo de quem soube permanecer fiel às ideias da sua juventude e de quem
              soube identificar a sua vida com as grandes causas da emancipação social e política dos trabalhadores e da construção de uma democracia avançada.
            </p>
          </div>
          <div class="col-12 d-block d-lg-none px-0">
            <img src="{{url_base}}/assets/img/about/sobre_3.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 pl-xl-5 d-none d-lg-block px-0">
            <img src="{{url_base}}/assets/img/about/sobre_4.png" alt="" class="img-fluid w-100 mt-xl-5 pt-lg-3 px-0">
          </div>
          <div class="col-12 pl-xl-5 mt-5 pt-lg-3 text-center text-lg-left px-0">
            <h2 class="title axiforma-bold text-8 text-lg-9 mt-lg-5 py-lg-4">Hino do agrupamento</h2>
            <p>
              É o nosso agrupamento <br>
              Que a cantar, <br>
              A brincar, <br>
              E a sonhar<br>
              Lembramos quem nesta <br>
              Terra fez historia, <br>
              Mulher que fica Para sempre na memória. <br>
              Dá-nos a dica Para não desanimar, <br>
              É referencia de coragem, <br>
              De vitória! <br>
              Pois mesmo presa <br>
              Nunca deixou de apoiar, <br>
              gente que sonha <br>
              Com um mundo a cantar. <br>
              Virgínia Moura Honra nosso agrupamento, <br>
              Seu nome agora Não nos sai do pensamento. <br>
              Aqui tão perto do berço <br>
              Da nação <br>
              Este hino canta-se <br>
              Com muita emoção! <br>
            </p>
            <p class="axiforma-medium font-italic">Letra e música: Anabela Carvalho</p>
            <a href="javascript:void(0);">
              <p class="axiforma-bold link text-3 my-5">Ver partitura</p>
            </a>
            <div class="col-12 d-block d-lg-none px-0">
              <img src="{{url_base}}/assets/img/about/sobre_4.png" alt="" class="img-fluid w-100 mt-5">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
