<div class="slider-container rev_slider_wrapper">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 570, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': false}}}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/home/home_1.png"
          alt="Home"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">
      </li>

      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/home/home_2.png"
          alt="Home"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

        <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
          data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          data-x="left" data-hoffset="['-160','-230','-270','-370']"
          data-y="center"
          data-fontsize="['50','50','50','90']"
          data-lineheight="['55','55','55','95']">Agrupamento</div>

          <div class="tp-caption font-weight-extra-bold text-color-light negative-ls-1"
            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
            data-y="center"
            data-fontsize="['50','50','50','90']"
            data-lineheight="['55','55','55','95']">Virgínia Moura</div>

        <div class="tp-caption font-weight-light ws-normal text-center"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
          data-x="left"
          data-y="center" data-voffset="['60','60','60','105']"
          data-width="['530','530','530','1100']"
          data-fontsize="['18','18','18','40']"
          data-lineheight="['26','26','26','45']"
          style="color: #b5b5b5;">Pelo futuro dos mais jovens. Construiu, ao longo dos anos, uma identidade e uma imagem de marca, resultante da capacidade de redefinir a sua missão e objetivos.</div>
      </li>
    </ul>
  </div>
</div>
