  <footer id="footer" class="border-top-0">
    <div class="container-fluid px-5 py-4">
      <div class="row py-5 text-center text-md-left">
        <div class="col-12 col-md-3 col-xl-4 mb-4 mb-lg-0">
          <a href="{{url_base}}">
            <img class="img-fluid d-block m-auto" src="{{url_base}}/assets/img/logos/logo_escolas.svg" alt="Agrupamento Escolas Virgínia Moura"/>
          </a>
        </div>
        <div class="col-12 col-md-3 col-xl-3 mb-4 mb-lg-0">
          <ul class="list list-icons list-icons-lg">
            <li class="mb-1 pl-lg-1 pl-xl-4"><img class="img-fluid pr-3 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/telemovel_footer.svg" alt="Telemóvel"/><p class="m-0 d-inline text-white text-3">+351 253 560 160</p></li>
            <li class="mb-1 pl-lg-1 pl-xl-4"><img class="img-fluid pr-3 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/mail_footer.svg" alt="E-mail"/><p class="m-0 d-inline text-white text-3">secretaria@aevm.edu.pt</p></li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-xl-3 mb-4 mb-lg-0">
          <ul class="list list-icons list-icons-lg">
            <li class="mb-1 pt-0"><p class="mb-0"><a href="{{url_base}}/politica_cookies" class="text-white text-uppercase link text-2">Política de Cookies</a></p></li>
            <li class="mb-1 pt-0"><p class="mb-0"><a href="{{url_base}}/termos_condicoes" class="text-white text-uppercase link text-2">Termos e Condições</a></p></li>
          </ul>
        </div>
        <div class="col-12 col-md-3 mb-4 col-xl-2 mb-lg-0">
          <ul class="list list-icons list-icons-lg mb-0">
            <li class="mb-1 pt-0"><p class="mb-0"><a href="{{url_base}}/ligacoes_uteis" class="text-white text-uppercase link text-2">Ligações Úteis</a></p></li>
            <li class="mb-0 pt-0"><p class="mb-0 mt-2 pr-1 text-color-light text-uppercase text-3 font-weight-bold mb-0">Acompanhe-nos</p></li>
          </ul>
          <ul class="list list-icons list-icons-lg header-social-icons d-flex list-unstyled">
            <li class=""><a href="javascript:void(0);" target="_blank" title="Instagram"><img class="img-fluid px-0 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/instagram.svg" alt="Instagram"/></a></li>
            <li class="pl-3"><a href="javascript:void(0);" target="_blank" title="Twitter"><img class="img-fluid px-0 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/twitter.svg" alt="Twitter"/></a></li>
            <li class="pl-3"><a href="javascript:void(0);" target="_blank" title="Facebook"><img class="img-fluid px-0 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/facebook.svg" alt="Facebook"/></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="bg-color-scale-overlay-wrapper">
        <div class="container-fluid px-5 py-2">
          <div class="row py-4 pl-5">
            <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0 px-5">
              <a href="{{url_base}}" class="logo">
                <img class="img-fluid px-5 mb-4 mb-lg-0" src="{{url_base}}/assets/img/logos/footer.svg" alt="UNIFY"/>
              </a>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-end px-0">
              <p class="pt-1 pr-1">Designed by </p><img class="img-fluid pl-2 mb-4 mb-lg-0" src="{{url_base}}/assets/img/icons/unify.svg" alt="UNIFY"/>
            </div>
            <div class="col-1 px-0">
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
</div>


<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>



</body>

</html>
