<div class="col-3 pt-lg-5 mt-xl-3 pl-5 d-none d-lg-block">
   <aside class="sidebar sidemenu">
    <ul class="nav nav-list flex-column">
      <div class="accordion" id="accordion">
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/servico_educativo/biblioteca_escolar"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Biblioteca escolar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/servico_educativo/gabinete_orientacao"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Gabinete de orientação e mediação das aprendizagens<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/servico_educativo/centro_apoio"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Centro de apoio à aprendizagem<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/servico_educativo/servicos_psicologia"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Serviços de psicologia e orientação<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/servico_educativo/terapeuta_fala"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Terapeuta da fala<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/servico_educativo/mediador_social"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Mediador socal<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
      </div>
    </ul>
  </aside>
</div>
