<div role="main" class="main" id="home">
  <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': false, 'stickyStartAt': 0}" style="height: 81px;">
    <div class="header-body border-top-0">
      <div class="header-top">
        <div class="container-fluid px-4">
          <div class="header-row py-2">
            <div class="header-column justify-content-start">
              <div class="header-row">
                <nav class="header-nav-top">
                      <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
                        <li class=""><a href="javascript:void(0);"><img alt="Português" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/icons/portugal.svg"/></a></li>
                        <li class=""><a href="javascript:void(0);"><img alt="Nepali" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/icons/nepal.svg"/></a></li>
                        <li class=""><a href="javascript:void(0);"><img alt="Bengali" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/icons/bangladesh.svg"/></a></li>
                        <li class=""><a href="javascript:void(0);"><img alt="Inglês" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/icons/reino_unido_uk.svg"/></a></li>
                        <li class=""><a href="javascript:void(0);"><img alt="Francês" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/icons/franca.svg"/></a></li>
                      </ul>
										</nav>
              </div>
            </div>
            <div class="header-column justify-content-end">
              <div class="header-row">
                <ul class="d-flex list-unstyled mb-0">
                  <li class=""><a href="javascript:void(0);"><img alt="GIAE" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/logos/header_giae.svg"/></a></li>
                  <li class=""><a href="javascript:void(0);"><img alt="Covid-19" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/logos/header_covid19.svg"/></a></li>
                  <li class=""><a href="javascript:void(0);"><img alt="Revista Digital" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/logos/header_revista_digital.svg"/></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-container container-fluid px-5">
        <div class="header-row">
          <div class="header-column">
            <div class="header-row">
              <div class="header-logo">
                <a href="{{url_base}}">
                  <img alt="Agrupamento Escolas Virgínia Moura" data-sticky-width="82" data-sticky-height="40" src="{{url_base}}/assets/img/logos/logo_escolas.svg"/>
                </a>
              </div>
            </div>
          </div>
          <div class="header-column justify-content-end">
            <div class="header-row">
              <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
                <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                  <nav class="collapse">
                    <ul class="nav nav-pills" id="mainNav">
                      <li class="dropdown dropdown-mega">
												<a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Sobre Nós</a>
                        <ul class="dropdown-menu">
													<li>
														<div class="dropdown-mega-content">
															<div class="row">
																<div class="col-lg-3">
																	<a href="{{url_base}}/sobre/sobre_nos"><span class="dropdown-mega-sub-title">Sobre Nós</span></a>
																	<a href="javascript:void(0);"><span class="dropdown-mega-sub-title">Documentos</span></a>
																	<ul class="dropdown-mega-sub-nav">
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/regulamento_interno">Regulamento Interno</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/projeto_educativo">Projeto Educativo</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/plano_atividades">Plano de Atividades</a></li>
																	</ul>
																</div>
																<div class="col-lg-3">
																	<a href="javascript:void(0);"><span class="dropdown-mega-sub-title">Órgãos</span>
																	<ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="{{url_base}}/sobre/conselho_geral">Conselho Geral</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/conselho_administrativo">Conselho Administrativo</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/direcao">Direção</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/conselho_pedagogico">Conselho Pedagógico</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/departamentos">Departamentos</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/coordenadores">Coordenadores de Escolas</a></li>
																		<li><a href="javascript:void(0);">Associação de Pais</a>
                                      <ul class="">
                                        <li><a class="dropdown-item" href="{{url_base}}/sobre/associacao_pais_eb_virginia_moura">Escola Básica Virgínia Moura</a></li>
                                        <li><a class="dropdown-item" href="{{url_base}}/sobre/associacao_pais_eb_aula_conde">EB1/JI Aula Conde</a></li>
                                        <li><a class="dropdown-item" href="{{url_base}}/sobre/associacao_pais_eb_vermis">EB1/JI Vermis</a></li>
                                        <li><a class="dropdown-item" href="{{url_base}}/sobre/associacao_pais_eb_carreiro">EB1/JI Carreiro</a></li>
                                        <li><a class="dropdown-item" href="{{url_base}}/sobre/associacao_pais_eb_guardizela">EB1/JI Guardizela</a></li>
                                      </ul>
                                    </li>
																	</ul>
																</div>
																<div class="col-lg-3">
																	<a href="javascript:void(0);"><span class="dropdown-mega-sub-title">Relatórios</span>
																	<ul class="dropdown-mega-sub-nav">
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/inspecao_geral_educacao">Inspeção Geral de Educação (IGE)</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/autoavaliacao">Autoavaliação</a></li>
																		<li><a class="dropdown-item" href="{{url_base}}/sobre/outros">Outros</a></li>
																	</ul>
																	<a href="{{url_base}}/sobre/premios_distincoes"><span class="dropdown-mega-sub-title">Prémios e Distinções</span></a>
																	<a href="{{url_base}}/sobre/quadro_merito"><span class="dropdown-mega-sub-title">Quadro de Mérito e Excelência dos Alunos</span></a>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</li>
                      <li class="dropdown dropdown-mega">
    										<a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Informações Gerais</a>
                        <ul class="dropdown-menu">
    											<li>
    												<div class="dropdown-mega-content">
    													<div class="row">
    														<div class="col-lg-3">
    															<a href="{{url_base}}/informacoes_gerais/servicos_administrativos"><span class="dropdown-mega-sub-title">Serviços Administrativos</span></a>
    															<a href="{{url_base}}/informacoes_gerais/papelaria_reprografia"><span class="dropdown-mega-sub-title">Papelaria e Reprografia</span></a>
                                  <a href="{{url_base}}/informacoes_gerais/refeitorio"><span class="dropdown-mega-sub-title">Refeitório</span></a>
                                  <a href="{{url_base}}/informacoes_gerais/buffet"><span class="dropdown-mega-sub-title">Buffet</span></a>
    														</div>
    														<div class="col-lg-3">
    															<a href="{{url_base}}/informacoes_gerais/concursos"><span class="dropdown-mega-sub-title">Concursos</span></a>
    															<a href="{{url_base}}/informacoes_gerais/pessoal_docente"><span class="dropdown-mega-sub-title">Pessoal Docente</span></a>
    															<a href="{{url_base}}/informacoes_gerais/pessoal_nao_docente"><span class="dropdown-mega-sub-title">Pessoal Não Docente</span></a>
    															<a href="{{url_base}}/informacoes_gerais/formularios_gerais"><span class="dropdown-mega-sub-title">Formulários Gerais</span></a>
    														</div>
    													</div>
    												</div>
    											</li>
    										</ul>
    									</li>
                      <li class="dropdown dropdown-mega">
    										<a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Serviço Educativo</a>
                        <ul class="dropdown-menu">
    											<li>
    												<div class="dropdown-mega-content">
    													<div class="row">
    														<div class="col-lg-3">
    															<a href="{{url_base}}/servico_educativo/biblioteca_escolar"><span class="dropdown-mega-sub-title">Biblioteca Escolar</span></a>
    															<a href="{{url_base}}/servico_educativo/gabinete_orientacao"><span class="dropdown-mega-sub-title">Gabinete de Orientação e Mediação à Aprendizagem</span></a>
                                  <a href="{{url_base}}/servico_educativo/centro_apoio"><span class="dropdown-mega-sub-title">Centro de Apoio à Aprendizagem</span></a>
    														</div>
    														<div class="col-lg-3">
    															<a href="{{url_base}}/servico_educativo/servicos_psicologia"><span class="dropdown-mega-sub-title">Serviços de Psicologia e Orientação</span></a>
    															<a href="{{url_base}}/servico_educativo/terapeuta_fala"><span class="dropdown-mega-sub-title">Terapeuta da Fala</span></a>
    															<a href="{{url_base}}/servico_educativo/mediador_social"><span class="dropdown-mega-sub-title">Mediador Social</span></a>
    														</div>
    													</div>
    												</div>
    											</li>
    										</ul>
    									</li>
                      <li class="dropdown dropdown-mega">
                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Projetos</a>
                         <ul class="dropdown-menu">
    											<li>
    												<div class="dropdown-mega-content">
    													<div class="row">
    														<div class="col-lg-3">
    															<a href="{{url_base}}/projetos/fami"><span class="dropdown-mega-sub-title">FAMI</span></a>
    															<a href="{{url_base}}/projetos/reei"><span class="dropdown-mega-sub-title">REEI</span></a>
                                  <a href="javascript:void(0);"><span class="dropdown-mega-sub-title">Erasmus</span></a>
    															<ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="{{url_base}}/projetos/ka101">KA101</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/projetos/ka229">KA229</a></li>
    															</ul>
    														</div>
    														<div class="col-lg-3">
    															<a href="{{url_base}}/projetos/etwinning"><span class="dropdown-mega-sub-title">E-twinning</span></a>
    															<a href="{{url_base}}/projetos/programa_bilingue"><span class="dropdown-mega-sub-title">Programa Escolas Bilingue</span></a>
                                  <a href="{{url_base}}/projetos/ccl"><span class="dropdown-mega-sub-title">CCL</span></a>
                                  <a href="{{url_base}}/projetos/educacao_saude"><span class="dropdown-mega-sub-title">Educação para a Saúde</span></a>
    														</div>
                                <div class="col-lg-3">
    															<a href="{{url_base}}/projetos/eco_escolas"><span class="dropdown-mega-sub-title">Eco-escolas</span></a>
    															<a href="{{url_base}}/projetos/desporto_escolar"><span class="dropdown-mega-sub-title">Desporto Escolar</span></a>
                                  <a href="{{url_base}}/projetos/educacao_artistica"><span class="dropdown-mega-sub-title">Programa de Educação Artística</span></a>
                                  <a href="{{url_base}}/projetos/segura_net"><span class="dropdown-mega-sub-title">Segura Net</span></a>
    														</div>
    													</div>
    												</div>
    											</li>
    										</ul>
    									</li>
                      <li class="dropdown dropdown-mega">
        								<a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Sucesso Escolar</a>
                        <ul class="dropdown-menu">
        									<li>
        										<div class="dropdown-mega-content">
        											<div class="row">
        												<div class="col-lg-3">
        													<a href="{{url_base}}/sucesso_escolar/plano_inovacao"><span class="dropdown-mega-sub-title">Plano de Inovação</span></a>
        													<a href="{{url_base}}/sucesso_escolar/khan_academy"><span class="dropdown-mega-sub-title">Khan Academy</span></a>
                                  <a href="{{url_base}}/sucesso_escolar/fenix"><span class="dropdown-mega-sub-title">Fenix</span></a>
                                  <a href="{{url_base}}/sucesso_escolar/includ_ed"><span class="dropdown-mega-sub-title">Includ-ed</span></a>
                                  <a href="{{url_base}}/sucesso_escolar/radio_escola"><span class="dropdown-mega-sub-title">Rádio Escola</span></a>
                                  <a href="{{url_base}}/sucesso_escolar/horta_pedagogica"><span class="dropdown-mega-sub-title">Horta Pedagógica</span></a>
                                  <a href="{{url_base}}/sucesso_escolar/cozinha_pedagogica"><span class="dropdown-mega-sub-title">Cozinha Pedagógica</span></a>
                                  <a href="{{url_base}}/sucesso_escolar/ubbu"><span class="dropdown-mega-sub-title">UBBU</span></a>
        												</div>
        												<div class="col-lg-3">
        													<a href="javascript:void(0);"><span class="dropdown-mega-sub-title">Clubes</span></a>
        													<ul class="dropdown-mega-sub-nav">
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/artes">Artes</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/ciencia">Ciência</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/cinehistoria">Cinehistória</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/danca">Dança</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/europeu">Europeu</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/leitura">Leitura</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/musica">Música</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/protecao_civil">Proteção Civil</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/tic">TIC</a></li>
        													</ul>
        												</div>
        												<div class="col-lg-3">
        													<a href="javascript:void(0);"><span class="dropdown-mega-sub-title">CIM do Ave-PNPSE</span></a>
        													<ul class="dropdown-mega-sub-nav">
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/mais_cidadania">+Cidadania</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/curtir_ciencia">Curtir Ciência</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/cim_equipa_multidisciplinar">Equipa Multidisciplinar</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/hypatiamat">Hypatiamat</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/litteratus">Litteratus</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/ideias_mundo">Ter Ideias para o Mundo</a></li>
        													</ul>
                                </div>
                                <div class="col-lg-3">
                                  <a href="javascript:void(0);"><span class="dropdown-mega-sub-title">CM Guimarães-Serviço Educativo</span></a>
        													<ul class="dropdown-mega-sub-nav">
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/reconhecer_guimaraes">Reconhecer Guimarães</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/cantania">Cantânia</a></li>
        														<li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/desporto_escolar">Desporto Escolar</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/edumove_te">Edumove-te</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/mais_tres">Mais Três</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/poupar">No Poupar é que Está o Ganho</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/op_escolas">OP Escolas</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/orcamento_participativo">Orçamento Participativo</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/pegadas">Pegadas</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/pergunta_ao_tempo">Pergunta ao Tempo</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/descolar">Descolar</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/licoes_iluminadas">Lições Iluminadas</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/prochild">Prochild Colab</a></li>
                                    <li><a class="dropdown-item" href="{{url_base}}/sucesso_escolar/cmg_equipa_multidisciplinar">Equipa Multidisciplinar</a></li>
        													</ul>
        												</div>
        											</div>
        										</div>
        									</li>
        								</ul>
        							</li>
                      <li class="dropdown dropdown-mega">
                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Alunos e Encarregados de Educação</a>
                        <ul class="dropdown-menu">
    											<li>
    												<div class="dropdown-mega-content">
    													<div class="row">
    														<div class="col-lg-3">
    															<a href="{{url_base}}/alunos_encarregados/calendario_escolar"><span class="dropdown-mega-sub-title">Calendário Escolar</span></a>
    															<a href="{{url_base}}/alunos_encarregados/regime_ensino"><span class="dropdown-mega-sub-title">Regime de Ensino</span></a>
                                  <a href="{{url_base}}/alunos_encarregados/criterios"><span class="dropdown-mega-sub-title">Critérios de Avaliação</span></a>
                                  <a href="{{url_base}}/alunos_encarregados/provas_finais"><span class="dropdown-mega-sub-title">Provas Finais, Aferição e de Equivalência à Frequência</span></a>
    														</div>
    														<div class="col-lg-3">
    															<a href="{{url_base}}/alunos_encarregados/estatuto_aluno"><span class="dropdown-mega-sub-title">Estatuto do Aluno</span></a>
    															<a href="{{url_base}}/alunos_encarregados/codigo_conduta"><span class="dropdown-mega-sub-title">Código de Conduta</span></a>
    															<a href="{{url_base}}/alunos_encarregados/regimento"><span class="dropdown-mega-sub-title">Regimento de Mentorias</span></a>
    															<a href="{{url_base}}/alunos_encarregados/manuais_escolares"><span class="dropdown-mega-sub-title">Manuais Escolares</span></a>
    														</div>
    													</div>
    												</div>
    											</li>
    										</ul>
    									</li>
                      <li class="dropdown">
												<a class="dropdown-item dropdown-toggle" href="{{url_base}}/noticias">Notícias</a>
											</li>
                      <li class="dropdown dropdown-mega">
    										<a class="dropdown-item dropdown-toggle" href="javascript:void(0);">Galeria</a>
                        <ul class="dropdown-menu">
    											<li>
    												<div class="dropdown-mega-content">
    													<div class="row">
    														<div class="col-lg-3">
    															<a href="{{url_base}}/galeria/eb_virginia_moura"><span class="dropdown-mega-sub-title">Escola Básica Virgínia Moura</span></a>
    															<a href="{{url_base}}/galeria/eb_aula_conde"><span class="dropdown-mega-sub-title">EB 1/JI Aula Conde</span></a>
                                  <a href="{{url_base}}/galeria/eb_vermis"><span class="dropdown-mega-sub-title">EB 1/JI Vermis</span></a>
                                  <a href="{{url_base}}/galeria/eb_carreiro"><span class="dropdown-mega-sub-title">EB 1/JI Carreiro</span></a>
                                  <a href="{{url_base}}/galeria/eb_guardizela"><span class="dropdown-mega-sub-title">EB 1/JI Guardizela</span></a>
    														</div>
    													</div>
    												</div>
    											</li>
    										</ul>
    									</li>
                      <li class="dropdown">
                        <a class="dropdown-item dropdown-toggle" href="{{url_base}}/contactos">Contactos</a>
											</li>
                    </ul>
                  </nav>
                </div>
                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                  <i class="fas fa-bars"></i>
                </button>
              </div>
              <div class="header-nav-features header-nav-features-no-border order-1 order-lg-2">
								<div class="header-nav-feature header-nav-features-search d-inline-flex">
									<a href="javascript:void(0);" class="header-nav-features-toggle" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
									<div class="header-nav-features-dropdown" id="headerTopSearchDropdown">
										<form role="search" action="page-search-results.html" method="get">
											<div class="simple-search input-group">
												<input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
												<span class="input-group-append">
													<button class="btn" type="submit">
														<i class="fa fa-search header-nav-top-icon"></i>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
							</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %}
