<div class="col-3 pt-lg-5 mt-xl-3 pl-5 d-none d-lg-block">
  <aside class="sidebar sidemenu">
    <ul class="nav nav-list flex-column">
      <div class="accordion" id="accordion">
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/fami"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Fami<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/reei"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Reei<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#erasmus" href="#erasmus"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Erasmus<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="erasmus" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/projetos/ka101">KA101<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/projetos/ka229">KA229<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/etwinning"><p class="sidemenu-item text-lg-3 text-xl-4"><span>E-twinning<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/programa_bilingue"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Programa escolas bilingue<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/ccl"><p class="sidemenu-item text-lg-3 text-xl-4"><span>CCL<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/educacao_saude"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Educação para a saúde<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/eco_escolas"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Eco-Escolas<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
            <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/desporto_escolar"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Desporto Escolar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/educacao_artistica"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Programa de educação artística<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/projetos/segura_net"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Segura net<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
      </div>
    </ul>
  </aside>
</div>
