<div class="col-3 pt-lg-5 mt-xl-3 pl-5 d-none d-lg-block">
  <aside class="sidebar sidemenu">
    <ul class="nav nav-list flex-column">
      <div class="accordion" id="accordion">
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sobre/sobre_nos">
            <p class="sidemenu-item text-lg-3 text-xl-4"><span>Sobre nós<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#documentos" href="#documentos">
            <p class="sidemenu-item text-lg-3 text-xl-4"><span>Documentos<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="documentos" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link active" href="{{url_base}}/sobre/regulamento_interno">Regulamento interno<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/regulamento_educativo">Regulamento educativo<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/plano_actividades">Plano de atividades<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#orgaos" href="#orgaos">
            <p class="sidemenu-item text-lg-3 text-xl-4"><span>Orgãos<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="orgaos" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/conselho_geral">Conselho Geral<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/conselho_administrativo">Conselho Administrativo<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/direcao">Direção<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/conselho_pedagogico">Conselho Pedagógico<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/departamentos">Departamentos<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/coordenadores">Coordenadores de escolas<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-xl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" data-toggle="collapse" data-parent="#associacao_pais" href="#associacao_pais">Associação de pais<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt=""
                    class="img-fluid pl-2"></a></li>
            </ul>
          </div>
          <div id="associacao_pais" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3 pl-3"><a class="nav-link" href="{{url_base}}/sobre/associacao_pais_eb_aula_conde">Escola Básica Virginia Moura<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3 pl-3"><a class="nav-link" href="javascript:void(0)">EB1/J1 Aula Conde<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3 pl-3"><a class="nav-link" href="javascript:void(0)">EB1/J1 Vermis<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3 pl-3"><a class="nav-link" href="javascript:void(0)">EB1/J1 Carreiro<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3 pl-3"><a class="nav-link" href="javascript:void(0)">EB1/J1 Guardizela<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#relatorios" href="#relatorios">
            <p class="sidemenu-item text-lg-3 text-xl-4"><span>Relatórios<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="relatorios" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/inspecao_geral_educacao">Inspeção geral de educação (IGE)<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/autoavaliacao">Autoavaliação <img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sobre/outros">Outros<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sobre/premios_distincoes">
            <p class="sidemenu-item text-lg-3 text-xl-4"><span>Prémios e distinções<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sobre/quadro_merito">
            <p class="sidemenu-item text-lg-3 text-xl-4"><span>Quadro de mérito e execelência de alunos<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
      </div>
    </ul>
  </aside>
</div>
