<div class="col-3 pt-lg-5 mt-xl-3 pl-5 d-none d-lg-block">
  <aside class="sidebar sidemenu">
    <ul class="nav nav-list flex-column">
      <div class="accordion" id="accordion">
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/plano_inovacao"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Plano de inovação<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/khan_academy"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Khan academy<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/fenix"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Fenix<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/includ_ed"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Includ-ed<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/radio_escola"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Rádio escola<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/horta_pedagogica"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Horta pedagógica<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/cozinha_pedagogica"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Cozinha pedagógica<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/sucesso_escolar/ubbu"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Ubbu<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#clubes" href="#clubes"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Clubes<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="clubes" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/artes">Artes<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/ciencia">Ciência<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/cinehistoria">Cinehistória<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/danca">Dança<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/europeu">Europeu<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/leitura">Leitura<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/musica">Música<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/protecao_civil">Proteção civil<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/tic">Tic<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#cim" href="#cim"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Cim do ave-pnpse<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="cim" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/mais_cidadania">+ Cidadania<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/curtir_ciencia">Curtir Ciência<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/cim_equipa_multidisciplinar">Equipa Multidisciplinar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/hypatiamat">Hypatiamat<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/litteratus">Litteratus<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/ideias_mundo">Ter ideias para o mundo<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#cm" href="#cm"><p class="sidemenu-item text-lg-3 text-xl-4"><span>CM Guimarães-Serviço Educativo<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
          <div id="cm" class="collapse">
            <ul>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/reconhecer_guimaraes">Reconhecer Guimarães<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/cantania">Cantânia<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/desporto_escolar">Desporto Escolar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/edumove_te">Edumove-te<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/mais_tres">Mais três<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/poupar">No poupar é que está o ganho<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/op_escolas">Op escolas<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/orcamento_participativo">Orçamento participativo<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/pegadas">Pegadas<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/pergunta_ao_tempo">Pergunta ao tempo<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/descolar">Descolar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/licoes_iluminadas">Lições iluminadas<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/prochild">Prochild colab<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
              <li class="sidemenu-subitem text-lg-3"><a class="nav-link" href="{{url_base}}/sucesso_escolar/cmg_equipa_multidisciplinar">Equipa multidisciplinar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></a></li>
            </ul>
          </div>
        </li>
      </div>
    </ul>
  </aside>
</div>
