<div class="col-3 pt-lg-5 mt-xl-3 pl-5 d-none d-lg-block">
  <aside class="sidebar sidemenu">
    <ul class="nav nav-list flex-column">
      <div class="accordion" id="accordion">
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/calendario_escolar"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Calendário escolar<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/regime_ensino"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Regime de ensino<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/criterios"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Critérios de avaliação<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/provas_finais"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Provas finais, aferição e de equivalência à frequência<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/estatuto_aluno"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Estatuto do aluno<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/codigo_conduta"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Código de conduta<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/regimento"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Regimento de mentorias<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/alunos_encarregados/manuais_escolares"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Manuais escolares<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
      </div>
    </ul>
  </aside>
</div>
