<div class="col-3 pt-lg-5 mt-xl-3 pl-5 d-none d-lg-block">
  <aside class="sidebar sidemenu">
    <ul class="nav nav-list flex-column">
      <div class="accordion" id="accordion">
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/servicos_administrativos"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Serviços administrativos<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/papelaria_reprografia"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Papelaria e Reprografia<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/refeitorio"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Refeitório<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/buffet"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Buffet<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/concursos"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Concursos<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/pessoal_docente"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Pessoal docente<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/pessoa_nao_docente"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Pessoal não docente<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
        <li class="nav-item">
          <a class="accordion-toggle" href="{{url_base}}/informacoes_gerais/formularios_gerais"><p class="sidemenu-item text-lg-3 text-xl-4"><span>Formulários Gerais<img src="{{url_base}}/assets/img/icons/menu_seta.svg" alt="" class="img-fluid pl-2"></span></p>
          </a>
        </li>
      </div>
    </ul>
  </aside>
</div>
