<div class="container-fluid px-5">
  <div class="row py-5 mt-md-5">
    <div class="col-12 col-md-8 mx-md-auto mb-5 text-center text-md-left">
      <h2 class="title text-9 py-5 mb-0">Termos e Condições</h2>
      <p>1. O acesso e uso deste website estão sujeitos à aceitação destes termos e condições. Se não concordar com estes termos e condições deve cessar imediatamente o uso deste website.
        <br/><br/>
        2. O conteúdo e a informação disponibilizada neste website, incluindo os seus termos e condições, podem, a qualquer momento, ser alterados por parte do Agrupamento de Escolas Virgínia Moura sem aviso prévio.
        <br/><br/>
        3. O acesso ao website do Agrupamento de Escolas Virgínia Moura pode ser suspenso temporária ou permanentemente e sem aviso prévio. Embora façamos o possível por garantir que o website está disponível 24 horas por dia, não seremos responsáveis se, por qualquer razão, o website não estiver disponível em qualquer altura ou por qualquer período de tempo.
        <br/><br/>
        4. Embora façamos todo o possível para garantir que todas as informações contidas no website são exatas, não podemos assegurar que todas as informações sejam precisas e atualizadas. Deste modo, não aceitamos qualquer responsabilidade por erros ou omissões no que respeita ao conteúdo do website.
        <br/><br/>
        5. No caso de encontrar informações erradas no website solicitamos que nos informe. Tomaremos de imediato as medidas necessárias para a sua correção.
        <br/><br/>
        6. Ao aceder a outros websites através de links fornecidos pelo site do Agrupamento de Escolas Virgínia Moura, o utilizador reconhece que o Agrupamento de Escolas Virgínia Moura não exerce qualquer tipo de controlo sobre os conteúdos desses websites e que, como tal, não pode ser responsabilizado por quaisquer consequências resultantes do acesso aos mesmos, seja a que título for.
        <br/><br/>
        7. O Agrupamento de Escolas Virgínia Moura não será responsável por danos resultantes em contratos, documentos legais, ou outros pelo uso ou incapacidade de uso deste website ou de qualquer material nele contido bem como qualquer ação ou decisão tomadas como resultado do uso deste website ou desse material.
        <br/><br/>
        8. O utilizador reconhece que toda a informação e conteúdos disponibilizados neste website, incluindo imagens, vídeos, textos e informações, logótipos e desenho gráfico do website ou qualquer documento ali constante, são da propriedade industrial ou intelectual do Agrupamento de Escolas Virgínia Moura ou de terceiros que autorizaram a sua inclusão, ou que para tanto foram autorizados.
        <br/><br/>
        9. É expressamente proibido, ao utilizador, copiar, salvo autorização concedida pelo Agrupamento de Escolas Virgínia Moura, armazenar, reproduzir, alterar, transmitir, divulgar, comercializar ou, por qualquer outra forma, tornar acessível a terceiros a informação disponibilizada através deste website, salvo se para fins privados e de forma gratuita. A eventual utilização de informação deverá sempre fazer referência à fonte.
      </p>
    </div>
  </div>
</div>
