<div class="container-fluid px-5">
  <div class="row text-center pt-3">
    <div class="col-12 col-md-8 mx-md-auto mb-5 bg-text">
      <h2 class="title text-9 py-5 mb-0">O Agrupamento</h2>
      <p class="text-center pb-4">O Agrupamento de Escolas Virgínia Moura construiu, ao longo dos anos, uma identidade e uma imagem de marca, resultante da capacidade de redefinir a sua missão e objetivos, projetando, organizando e avaliando de forma sistemática o desenvolvimento das suas atividades, em função do contexto em que se insere. A envolvência de diversos parceiros foi preponderante, de modo a que, pela qualidade e especificidade do serviço educativo público prestado, fossem alcançados e consolidados os objetivos a que se propôs.
        <br/><br/>
        O Agrupamento de Escolas Virgínia Moura é uma unidade organizacional constituída pela escola-sede, a Escola Básica Virgínia Moura, com turmas de 2.º e 3.º ciclos, e seis escolas do 1.º Ciclo do Ensino Básico. Em cinco destas escolas encontram-se a funcionar sete salas de jardim-de-infância. As escolas do 1.º ciclo do Ensino Básico são as seguintes: EB1/JI de Vermis – Moreira de Cónegos; EB1/JI do Carreiro – Lordelo; EB1/JI de Aula – Conde e EB1/JI de Monte – Guardizela...
      </p>
      <a class="link" href="javascript:void(0);">Ver mais</a>
    </div>
  </div>
</div>

<div class="container-fluid bg-indigo px-5">
  <div class="row pt-3">
    <div class="col-12 mb-5">
      <h2 class="title text-9 text-center py-5 mb-0">Blog</h2>

      <div class="container py-2">
        <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
          <!-- <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
          <li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 text-uppercase" href="#">Websites</a></li>
          <li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 text-uppercase" href="#">Logos</a></li>
          <li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 text-uppercase" href="#">Brands</a></li>
          <li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 text-uppercase" href="#">Medias</a></li> -->
        </ul>

        <div class="sort-destination-loader sort-destination-loader-showing sort-blog mt-4 pt-2">
          <div class="row portfolio-list sort-destination" data-sort-id="portfolio">

            <div class="col-md-6 col-lg-4 isotope-item blog">
              <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html">
                  <span class="thumb-info thumb-info-lighten border-radius-0">
                    <span class="thumb-info-wrapper border-radiu.pngs-0">
                      <img src="{{url_base}}/assets/img/home/home_blog_1.png" class="img-fluid border-radius-0" alt="Blog"/>
                      <span class="thumb-info-title-blog p-4">
                        <span class="thumb-info-inner">Dia Mundial da Alimentação</span>
                        <span class="thumb-info-type">No passado dia 16 de outubro, comemorou-se o Dia Mundial da Alimentação...</span>
                      </span>
                      <div class="thumb-info-subtitle-blog">
                        <div class="row mx-0 px-4">
                          <div class="col-6 thumb-info-div px-0 px-0">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/>
                            </p>
                            <p>0</p>
                          </div>
                          <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/>
                            </p>
                            <p>16 out</p>
                          </div>
                        </div>
                      </div>

                      <!-- <span class="thumb-info-action">
                        <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                      </span> -->
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 isotope-item blog">
              <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html">
                  <span class="thumb-info thumb-info-lighten border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/home/home_blog_2.png" class="img-fluid border-radius-0" alt="Blog"/>
                      <span class="thumb-info-title-blog p-4">
                        <span class="thumb-info-inner">Onda Rosa</span>
                        <span class="thumb-info-type">Mais uma vez, a Equipa de Educação para a Saúde (PES), em parceria com o Núcleo Regional Norte da Liga Portuguesa Contra o Cancro (LPCC)...</span>
                      </span>
                      <div class="thumb-info-subtitle-blog">
                        <div class="row mx-0 px-4">
                          <div class="col-6 thumb-info-div px-0">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/>
                            </p>
                            <p>0</p>
                          </div>
                          <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/>
                            </p>
                            <p>16 out</p>
                          </div>
                        </div>
                      </div>
                      <!-- <span class="thumb-info-action">
                        <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                      </span> -->
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 isotope-item blog">
              <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html">
                  <span class="thumb-info thumb-info-lighten border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/home/home_blog_3.png" class="img-fluid border-radius-0" alt="Blog"/>
                      <span class="thumb-info-title-blog p-4">
                        <span class="thumb-info-inner">Campanha de Solidariedade</span>
                        <span class="thumb-info-type">A Escola Virgínia Moura está a promover uma Campanha de Solidariedade...</span>
                      </span>
                      <div class="thumb-info-subtitle-blog">
                        <div class="row mx-0 px-4">
                          <div class="col-6 thumb-info-div px-0">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/>
                            </p>
                            <p>0</p>
                          </div>
                          <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/>
                            </p>
                            <p>16 out</p>
                          </div>
                        </div>
                      </div>
                      <!-- <span class="thumb-info-action">
                        <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                      </span> -->
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 isotope-item blog">
              <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html">
                  <span class="thumb-info thumb-info-lighten border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/home/home_blog_4.png" class="img-fluid border-radius-0" alt="Blog"/>
                      <span class="thumb-info-title-blog p-4">
                        <span class="thumb-info-inner">Excepteur Sint</span>
                        <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim...</span>
                      </span>
                      <div class="thumb-info-subtitle-blog">
                        <div class="row mx-0 px-4">
                          <div class="col-6 thumb-info-div px-0">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/>
                            </p>
                            <p>0</p>
                          </div>
                          <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/>
                            </p>
                            <p>16 out</p>
                          </div>
                        </div>
                      </div>
                      <!-- <span class="thumb-info-action">
                        <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                      </span> -->
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 isotope-item blog">
              <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html">
                  <span class="thumb-info thumb-info-lighten border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/home/home_blog_5.png" class="img-fluid border-radius-0" alt="Blog"/>
                      <span class="thumb-info-title-blog p-4">
                        <span class="thumb-info-inner">Excepteur Sint</span>
                        <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                      </span>
                      <div class="thumb-info-subtitle-blog">
                        <div class="row mx-0 px-4">
                          <div class="col-6 thumb-info-div px-0">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Like"/>
                            </p>
                            <p>0</p>
                          </div>
                          <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/>
                            </p>
                            <p>16 out</p>
                          </div>
                        </div>
                      </div>
                      <!-- <span class="thumb-info-action">
                        <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                      </span> -->
                    </span>
                  </span>
                </a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 isotope-item blog">
              <div class="portfolio-item">
                <a href="portfolio-single-wide-slider.html">
                  <span class="thumb-info thumb-info-lighten border-radius-0">
                    <span class="thumb-info-wrapper border-radius-0">
                      <img src="{{url_base}}/assets/img/home/home_blog_6.png" class="img-fluid border-radius-0" alt="Blog"/>
                      <span class="thumb-info-title-blog p-4">
                        <span class="thumb-info-inner">Excepteur Sint</span>
                        <span class="thumb-info-type">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim....</span>
                      </span>
                      <div class="thumb-info-subtitle-blog">
                        <div class="row mx-0 px-4">
                          <div class="col-6 thumb-info-div px-0">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_coracao_home.svg" class="pr-2" width="20" height="20" alt="Likes"/>
                            </p>
                            <p>0</p>
                          </div>
                          <div class="col-6 thumb-info-div px-0 d-flex justify-content-end">
                            <p>
                              <img src="{{url_base}}/assets/img/icons/blog_relogio.svg" class="pr-2" width="20" height="20" alt="Data"/>
                            </p>
                            <p>16 out</p>
                          </div>
                        </div>
                      </div>
                      <!-- <span class="thumb-info-action">
                        <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                      </span> -->
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="text-center"><a class="link" href="javascript:void(0);">Ver blog</a></p>
    </div>
  </div>
</div>

<div class="container-fluid px-5">
  <div class="row text-center pt-3">
    <div class="col-12 mb-5">
      <h2 class="title text-9 py-5">Parceiros</h2>

      <!-- MOBILE -->
      {% if is_mobile %}
      <div class="row mb-5">
        <div class="col-4 px-0">
          <img alt="ABAE" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_abae.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="CFFH" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_cffh.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="Martins Sarmento" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_martins_sarmento.svg"/>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-4 px-0">
          <img alt="CM Guimarães" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_cm_guimaraes.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="CIA" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_cia.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="CPCJ Guimarães" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_cpcj.svg"/>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-4 px-0">
          <img alt="Cruzeiro" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_cruzeiro.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="DG Educação" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_dg_educacao.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="Poch" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_poch.svg"/>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-4 px-0">
          <img alt="JMM" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_jmm.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="Guardizela e Vila de Lordelo" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_guardizela_lordelo.svg"/>
        </div>

        <div class="col-4 px-0">
          <img alt="Moreira de Cónegos" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_moreira_conegos.svg"/>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-4 px-0">
          <img alt="Laboratório da Paisagem" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_laboratorio_paisagem.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="RP Educação" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_republica_portuguesa.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="E.Leclerc" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_eleclerc.svg"/>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-4 px-0">
          <img alt="Domingos de Sousa" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_domingos_sousa.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="Resinorte" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_resinorte.svg"/>
        </div>
        <div class="col-4 px-0">
          <img alt="UF Conde e Gandarela" class="img-fluid" src="{{url_base}}/assets/img/logos/parceiro_slide_uf_conde_gandarela.svg"/>
        </div>
      </div>

      <!-- DESKTOP -->
      {% else %}
      <div class="mb-5 owl-carousel owl-theme stage-margin nav-style-1 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 8, 'autoplay': true, 'autoplayTimeout': 3000, 'margin': 10, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40}" style="height: auto;">
        <div class="owl-stage-outer">
          <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1814px; padding-left: 40px; padding-right: 40px;">
            <div class="owl-item active" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="ABAE" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_abae.svg"/>
              </div>
            </div>
            <div class="owl-item active" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="CFFH" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_cffh.svg"/>
              </div>
            </div>
            <div class="owl-item active" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Martins Sarmento" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_martins_sarmento.svg"/>
              </div>
            </div>
            <div class="owl-item active" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="CM Guimarães" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_cm_guimaraes.svg"/>
              </div>
            </div>
            <div class="owl-item active" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="CIA" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_cia.svg"/>
              </div>
            </div>
            <div class="owl-item active" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="CPCJ Guimarães" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_cpcj.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Cruzeiro" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_cruzeiro.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="DG Educação" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_dg_educacao.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Poch" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_poch.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="JMM" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_jmm.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Guardizela" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_guardizela.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Vila de Lordelo" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_lordelo.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Moreira de Cónegos" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_moreira_conegos.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Laboratório da Paisagem" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_laboratorio_paisagem.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="RP Educação" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_republica_portuguesa.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="E.Leclerc" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_eleclerc.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Domingos de Sousa" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_domingos_sousa.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="Resinorte" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_resinorte.svg"/>
              </div>
            </div>
            <div class="owl-item" style="width: 163.333px; margin-right: 10px;">
              <div>
                <img alt="UF Conde e Gandarela" class="img-fluid rounded" src="{{url_base}}/assets/img/logos/parceiro_slide_uf_conde_gandarela.svg"/>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav">
          <button type="button" role="presentation" class="owl-prev disabled"></button>
          <button type="button" role="presentation" class="owl-next"></button>
        </div>
        <div class="owl-dots disabled"></div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
