<div class="container-fluid">
  <div class="row pt-5 pt-md-0">

    <div class="col-12 px-0">
      <div class="portfolio-item mb-5 pb-5">
        <span class="thumb-info thumb-info-lighten border-radius-0">
          <span class="thumb-info-wrapper border-radius-0">
            <img src="{{url_base}}/assets/img/banners/links_uteis.png" class="img-fluid border-radius-0" alt="Banner">
            <span class="left-thumb-info-title">
              <span class="thumb-info-inner">Ligações Úteis</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="col-12 col-md-8 mx-md-auto mb-5 py-5 px-5 mt-md-5">
      <p><a class="link" href="javascript:void(0);" target="_blank">DGE</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Direção Geral Administração Escolar</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Direção Geral dos Estabelecimentos Escolares</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Direção Geral de Estatísticas da Educação e Ciência</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Instituto de Avaliação Educativa</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Escola 360</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Secretaria Geral</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Inspeção Geral da Educação e Ciência</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Agência Nacional para a Qualificação e Ensino Profissional</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Instituto de Gestão Financeira da Educação, IP</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Centro de Formação Martins Sarmento</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Centro de Formação Francisco da Holanda</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Conselho Nacional de Educação</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Agência Nacional Erasmus+ Educação e Formação</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Rede de Bibliotecas Escolares</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Plano Nacional de Leitura</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Comissão Europeia</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">European Schoolnet</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Organização das Nações Unidas para a Educação, Ciência e Cultura – UNESCO</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Organização para a Cooperação e Desenvolvimento Económico – OCDE</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Programme for International Student Assessment – PISA</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Progress in International Reading Literacy Study – PIRLS</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Red de Indicadores de Ciencia y Tecnologia – RICYT</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Teaching and Learning International Survey – TALIS</a></p>
      <p><a class="link" href="javascript:void(0);" target="_blank">Trends in International Mathematics and Science Study – TIMSS</a></p>
    </div>
  </div>
</div>
